[2021-07-25 06:53] aantn opened #26 "Remove --use-feature-in-tree-build from Dockerfile now that it is default behaviour"
https://github.com/robusta-dev/robusta/blob/cbef6bdce7e595335f3b2d71664c16dc869de925/src/Dockerfile#L27

We might need to update pip in the Dockerfile before running the command

[2021-11-25 13:54] orclassiq opened #107 "Exploring failed AWS API requests"
I would like to have a way to inspect and analyze failed requests to the AWS API, mainly those that occur when a deployment to Kubernetes is made. In this case, I usually have access to the request's UUID, but not to the request itself or to the response.

For example, I failed to deploy an ingress controller due to a permissions issue. During the deployment process, I got events describing an una

[2022-01-10 11:45] tim-sendible opened #146 "Helm chart defaults to runner image version 0.0.0, which doesn't exist."
**Describe the bug**
Helm values file is defaulted to runner version 0.0.0, which causes the installation documented on the website to fail.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.robusta.dev/master/getting-started/installation.html and follow the instructions.

The runner never deploys because the image tag is defaulted to 0.0.0

**Expected behavior**
A clear and

[2022-01-10 12:02] aantn commented on #146
Thank you for reporting this. I'm looking into it and have a few questions.

1. Are you installing Robusta via the chart at `https://robusta-charts.storage.googleapis.com` or using the chart contained in the GitHub repository? (I just ran the exact instructions you linked and for me it succeeds.)

2. What is the output of `helm version`?

## Additional context
I'll try to explain here the motivati

[2022-01-10 12:19] tim-sendible commented on #146
I'm installing via the repo, but using the values.yaml housed in the corresponding github release so that I can install this using gitops (argocd) and so that I can avoid using the bonkers python script that generates the values file for me.

I'm sure you are aware, you can pin a default image tag to a helm chart version, so I find it odd to reinvent the wheel using a placeholder like this.

Chart

[2022-01-10 12:55] aantn commented on #146
@tim-sendible does running `helm show values robusta/robusta` help?

We are indeed trying to pin a default image tag, but it only gets pinned in the released chart (https://robusta-charts.storage.googleapis.com) and not in the GithHub repository itself.

[2022-01-11 10:39] aantn commented on #146
@tim-sendible I've updated the docs to explain how you can install without the CLI and where to take the `values.yaml` from.

https://docs.robusta.dev/master/getting-started/installation.html#alternative-installation-methods

Does this help fix the confusion? Is there anything else you recommend we change here? (Feel free to provide a link to another project with a more intuitive installation as r

[2022-01-11 10:43] aantn opened #150 "Allow declaring Robusta automations in Prometheus labels/annotations"
This is based on feedback from @tim-sendible and I believe we've heard it at least once before from an existing user.

The general idea is that when you define a PrometheusRule (e.g. using the Prometheus Operator) you should be able to define alongside that rule the automations to run when that alert fires. This way you don't need to define the alert in one place (PrometheusRule) and the automatio

[2022-01-11 10:48] aantn opened #151 "Embed images directly in Slack messages instead of attaching them to the message"
Today images are attached to Slack messages as attachments. It would be nice to embed the images directly into the message itself so that you don't need to click to see them.

[This StackOverflow question seems relevant](https://stackoverflow.com/questions/58186399/how-to-create-a-slack-message-containing-an-uploaded-image)

When implementing this, we will need to verify that images remain private

[2022-01-11 10:53] aantn opened #152 "Specify the cluster name in Slack messages"
In default messages we send to Slack, we should specify the cluster name. This is important for multi-cluster environments / environments with more than one AlertManager.

We should make sure that we send the cluster name for:

1. Crashloop notifications
2. Prometheus alerts

If possible, it would be nice to let users customize our bot-name (Robusta) or at least to specify the cluster name there t

[2022-01-17 15:54] shahakL opened #162 "Documentation for Pod ps does not explain what is the result PID"
The pod ps output is with the global pid (not namespaced) - this should be documented

[2022-01-18 03:03] aantn commented on #162
Thanks for opening this! We should fix it.

[2022-01-19 04:11] tuananh2508 opened #165 "New Sink: Telegram"
**Describe the solution you'd like**
Telegram is a very famous tool right now for sending alerting and I think that It would be very handy if Telegram Sink is supported

[2022-01-19 11:57] aantn commented on #165
Yes, we can add it!

Would you be able to help beta test this?

[2022-01-19 11:59] tuananh2508 commented on #165
Absolutely

[2022-01-19 12:14] aantn commented on #165
Cool, it'll be another few days before it's ready. I'll let you know here.

Which Robusta features are you most interested in? I'll make sure we test those specific features on our end specifically for the Telegram integration.

[2022-01-19 12:19] tuananh2508 commented on #165
@aantn Aside from the basic things, I think the "ChatOps" feature is pretty cool.

[2022-01-19 12:23] aantn commented on #165
@tuananh2508 Cool, that helps. It means we'll need to add support for the Telegrama sink for two-way-interactivity.

@arikalon1 FYI

[2022-01-19 12:25] tuananh2508 commented on #165
Yeah tks, but the most important things to us is still the core function of Robusta - Alerting :D. Hope that feature is going to be release soon.

[2022-01-19 12:29] aantn commented on #165
Got it, so it would be OK do this in two parts, right?

Part 1: send messages to Telegram without two-way interactivity

Part 2: enable the fix buttons with two-way interactivity

[2022-01-19 12:30] tuananh2508 commented on #165
Yes, love it. I will try to be most supportive for this feature

[2022-01-22 12:01] pashtet04 opened #170 "Error installing Helm chart: Error: create: failed to create: Request entity too large: limit is 3145728"
**Describe the bug**
Python 3.10.1
Error installing Helm chart: `Error: create: failed to create: Request entity too large: limit is 3145728`

**To Reproduce**
Steps to reproduce the behavior:
1. cd `./helm/robusta`
2. `pip install -U robusta-cli`
3. `robusta gen-config`
4. `helm upgrade -i robusta ./ -f ./generated_values.yaml  --debug`

**Expected behavior**
Helm chart installation success

**Lo

[2022-01-22 15:07] arikalon1 commented on #170
Hi, thank you for reporting this.

Is it possible you're running into the issue mentioned [here](https://github.com/helm/helm/issues/7264) because you have large files in the same directory at the helm chart?

I was unable to reproduce this myself.
Did you do anything else between cloning the repository and running the commands you pasted?

Does the same occur if you install from an online version

[2022-01-22 20:30] pashtet04 commented on #170
Okay, that's my bad: I did install robusta-cli into virtualenv directory. Thanks.

[2022-01-22 20:30] #170 closed

[2022-01-23 13:57] arikalon1 commented on #170
@pashtet04  glad to help.
if you encounter any other issues feel free to open another issue or email support@robusta.dev

[2022-01-26 08:44] aantn commented on #152
@arikalon1 did we fix this yet?

[2022-01-26 09:04] arikalon1 commented on #152
yes. fixed in 0.8.18

[2022-01-26 09:05] #152 closed

[2022-01-26 14:52] stephanGarland opened #181 "New Sink: ntfy.sh"
**Is your feature request related to a problem? Please describe.**
I'd like an additional sink, and one that's very extensible.

**Describe the solution you'd like**
I use [ntfy.sh](https://ntfy.sh) for push notifications to my phone. It accepts PUT/POST to an endpoint, and then pushes them to the subscriber. I suspect there are other tools that would also accept a simple payload that could make u

[2022-01-26 15:23] aantn commented on #181
Yeah, we can do this. Would you be able to help beta test it?

@arikalon1 Can we do this right after we finish the Telegram sink?

[2022-01-26 16:41] stephanGarland commented on #181
Yes, absolutely. I just found Robusta yesterday and plan on installing it into my homelab later this week.

[2022-01-26 18:13] arikalon1 commented on #181
sure. We'll start implementing it soon.

[2022-01-30 07:50] shahakL opened #187 "Python memory profiler start and stop indications"
**Is your feature request related to a problem? Please describe.**
Using the python memory profiler is tricky, it is unclear when the profiling actually starts and stops, so timing related actions in difficult.

**Describe the solution you'd like**
I would like an indication to when the profiling starts and when it stops.

[2022-01-31 17:18] spraggler opened #191 "External action not found python_debugger"
I got the above error when trying to manually trigger an action as instructed in the documentation.

"robusta playbooks trigger python_debugger name=podname namespace=default"

I'm new to kubernetes and everything related, so please let me know what information you need to help me help you debug this issue. Someone mentioned that they will need to see the logs for robusta-runner. Let me know where

[2022-01-31 17:55] arikalon1 commented on #191
Hi,

You can get the logs using the following kubectl command:
kubectl logs deployment/robusta-runner runner

Can you send the output of that?

Thanks

[2022-01-31 18:00] spraggler commented on #191
[robusta.log](https://github.com/robusta-dev/robusta/files/7973038/robusta.log)

[2022-01-31 19:04] spraggler commented on #191
[robusta2.log](https://github.com/robusta-dev/robusta/files/7973446/robusta2.log)

[2022-01-31 19:23] spraggler commented on #191
[robusta3.log](https://github.com/robusta-dev/robusta/files/7973576/robusta3.log)

[2022-02-01 12:31] tuananh2508 commented on #165
Thanks for all the hard work. We're on holiday so I will report the result or any bugs next week.

[2022-02-01 13:04] arikalon1 commented on #165
Gladly. We'd love to hear any feed back you have.

[2022-02-03 21:31] #181 closed

[2022-02-05 10:03] aantn opened #195 "Add a button to the README page for our Slack community"
Title says it all. It should match the other badges already there.

[2022-02-05 10:05] 852hamza commented on #195
yes i can
can u assign me

[2022-02-05 10:06] aantn opened #196 "Add an edit on GitHub button to each page in the docs"
Goal is to make it easier for people to submit contribution to the docs. Many people don't understand today that the docs are open source.

Thank you to @Sayanta66 for the idea!

[2022-02-05 11:22] aantn commented on #195
Of course! Thank you!

[2022-02-06 17:29] aantn opened #199 "Send resource creations and deletions to the Robusta UI, not just modifications"
Today we don't send resource creations/deletions to the Robusta UI. We should send them because they add useful information.

The relevant code to change is in `values.yaml`. The change is *probably* trivial, but it requires testing. If you work on this, please document any manual testing that you did to verify this works.

Relevant code in values.yaml:

[code]

See also: https://docs.robusta.dev/

[2022-02-06 18:41] arikalon1 commented on #199
Might be simpler to change it to a single playbook, with few triggers

[2022-02-07 07:40] 852hamza commented on #195
how can i run this  locally  and what changing occure

[2022-02-07 08:49] aantn commented on #195
You can fork this repo and make changes. Push the changes to your fork on GitHub and check the README.md file in your fork.

[2022-02-09 06:05] tuananh2508 commented on #165
![image](https://user-images.githubusercontent.com/66721505/153131619-a06098a8-65ae-4068-8810-ef5a41bc75e5.png)
I'm trying `resource_babysitter` actions. But look like when I update deployment replicas, robusta doesn't notify that to me

[2022-02-09 06:43] tuananh2508 commented on #165
![image](https://user-images.githubusercontent.com/66721505/153135935-e01ff5f3-ce84-41c3-9e35-e90dcfd69bdf.png)
Till now everything is working great for the first stage as mentioned above. But for the `resources_babysitter` actions, I have to specify omited and monitor field. If I don't specify it, robusta sometime doesn't notify me about some changes.

[2022-02-09 06:57] arikalon1 commented on #165
By default, we omit the 'replicas' changes, because on clusters with HPA (Horizontal Pod Autoscaler), it might become spammy.
If you do want to see it, you need to override the default 'omitted_fields' parameter:
Just add it to the action parameters:
omitted_fields: ["status", "metadata.generation","metadata.resourceVersion","metadata.managedFields"]
These are the defaults, just without the 'repli

[2022-02-09 07:27] tuananh2508 commented on #165
![image](https://user-images.githubusercontent.com/66721505/153141889-f15249b1-f09c-4354-b3e3-8ff4a6fdba85.png)
Also the NodeEnricher is not working right now.

[2022-02-09 08:07] arikalon1 commented on #165
Can you please send the out of 'robusta logs', after triggering the node enricher?

[2022-02-09 08:43] tuananh2508 commented on #165
@arikalon1 Here: https://pikab.in/78788d9feb

[2022-02-09 09:12] arikalon1 commented on #165
Do you know if there are pods running on that specific node?

[2022-02-09 09:20] tuananh2508 commented on #165
There are 18 pods runnign on that node on different namespaces:
![image](https://user-images.githubusercontent.com/66721505/153164322-01effcc9-e9e8-4b20-96eb-5cf3dc6d4f43.png)

[2022-02-09 09:59] arikalon1 commented on #165
I looked into this and figured out the problem.

Currently we don't send tables to the telegram sink, because the tables are too wide to be rendered properly on a mobile device. The output of this playbook is in a table, and that's the reason you don't see it in telegram.

Any ideas for how to fix this? We could add a placeholder like "<open UI to see data>" or we could find alternative way to ren

[2022-02-09 10:09] tuananh2508 commented on #165
I think for Telegram, maybe this kind of table can be paste to a .txt file. Just like what you're doing right now with Crash Pod event.

[2022-02-09 10:33] arikalon1 commented on #165
Sounds like a good solution for me.
Will fix it soon.
Thanks for the input

[2022-02-09 10:35] tuananh2508 commented on #165
Hope to hear from you soon ! 👯

[2022-02-09 14:22] aantn commented on #146
I'm closing this for now. If you have more suggestions for improving this, feel free to reopen.

[2022-02-09 14:22] #146 closed

[2022-02-09 14:23] aantn commented on #191
@arikalon1 what is our status on this?

[2022-02-09 14:27] aantn opened #203 "Improve Sinks Documentation"
Today our sinks are documented in two places:

1. [On the *Sinks* page (and subpages of it)](https://docs.robusta.dev/master/catalog/sinks/index.html)
2. [On the *Configuration Guide* page](https://docs.robusta.dev/master/user-guide/configuration.html#defining-additional-sinks)

I've seen a few people confused by this. They go to the Sinks page and read that we support, e.g., Kafka but they can't

[2022-02-09 14:31] aantn opened #204 "Check support for Docker Desktop on Intel Macs"
I received a report that one pod didn't start running when checking Robusta on the Kubernetes bundled inside Docker Desktop. (https://docs.docker.com/desktop/kubernetes/)

I believe it was the node-exporter pod. (@piomin is that right?)

We should check this and fix support for Docker Desktop if it doesn't work.

[2022-02-09 14:38] arikalon1 commented on #191
The original issue was because there were no sinks defined.
Closing it

[2022-02-11 10:30] arikalon1 commented on #165
Thanks for bringing it up.
The resource name is taken from the deployment metadata name and namespace.
What are the metadata name and namespace for the changed deployment?

[2022-02-11 10:44] arikalon1 opened #205 "resource_babysitter display no resource name if 'metadata' as a whole included in omitted_fields"
**Describe the bug**
resource_babysitter display no resource name if 'metadata' as a whole included in omitted_fields

**To Reproduce**

1. In resource_babysitter configuration user: omitted_fields = ["metadata"]
2. Create a deployment change in the cluster

**Expected behavior**
Change deployment name is displayed

Thank you @tuananh2508 for reporting it

[2022-02-11 10:58] arikalon1 commented on #165
Can you share the output of `kubectl get deployment -o yaml ..` for the relevant deployment?

[2022-02-11 11:04] tuananh2508 commented on #165
[code]

[2022-02-11 11:07] arikalon1 commented on #165
Thank you.
It might be a bug indeed.
Will check and update.

[2022-02-13 15:53] arikalon1 commented on #205
we did! closing

[2022-02-13 15:53] #205 closed

[2022-02-13 16:57] arikalon1 commented on #165
We couldn't replicate it locally.
Setting the following did trigger the change notification:
[code]

Are you sure the label appears in the Deployment metadata, and not in the Pod template?

[2022-02-13 20:44] kranurag7 commented on #203
Looks good to me. If we will create different pages for different sinks then we can also add recommendation and best practices related to that particular sink.

[2022-02-13 20:53] aantn commented on #203
@kranurag7 thanks for the feedback. Feel free to open a PR if you have time to work on this

[2022-02-14 08:15] kranurag7 commented on #195
@852hamza Are you still working on the issue? Please let me know.

[2022-02-14 09:33] tuananh2508 commented on #165
Yeah pretty sure It was deployment labels. I got it through this command:
[code]
Anyway, If no one else have this maybe this is just a misconfiguration by me. Cheer guys.

Another question, Do you guys plan to support multiple telegram sink ? Till now if I defined 2 telegram group to send the notification to then 1 group is going to be deleted by Robusta. It would be great to have this feature. Ca

[2022-02-15 09:00] arikalon1 commented on #165
We already support multiple sinks, however while trying to test it I discovered some bug there.
Opening another issue and will fix it shortly

[2022-02-15 09:23] arikalon1 opened #207 "Different playbooks sinks override one another"
When defining multiple playbooks, with different sinks, sinks of one playbook may override other playbooks sinks.

Steps to reproduce the behavior:
1. Define 2 sinks, sink_a, and sink_b
2. Define 2 playbooks: both triggered by on_deployment_update, both has resource_babysitter action. For one define sink_a and for the other sink_b
3. update one of the cluster's deployments
4. The update message is

[2022-02-17 23:59] ghostsquad opened #213 "CRD support for watching?"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to watch for changes to CRDs, but the docs don't describe that. It appears it's not supported.

**Describe the solution you'd like**
Extend support to register CRDs to trigger on changes

**Describe alternatives you've considered**
Doing it myself (writing a small service), looking at kube-watch and the open PRs

[2022-02-18 03:05] tuananh2508 opened #214 "Robusta lost connection to Prometheus when some pods got CPU Throttling"
**Describe the bug**
After some pod got CPU Throttling, Robusta know about this when connected to Prometheus. But after that, Robusta lost connection to Prometheus

**To Reproduce**
Steps to reproduce the behavior:
1. Install Robusta version 0.8.23 with Helm
2. Some pods got CPU throttling. Robusta try to query some information on Prometheus and after that It lost connection to Prometheus and can'

[2022-02-18 15:21] aantn commented on #199
Fixed.

[2022-02-18 15:40] aantn opened #216 "Add pprof playbook action"
**Motivation**
Many golang applications expose debug information using pprof. We should add a playbook action to collect that data.

[2022-02-18 15:47] aantn opened #217 "Add playbook action to monitor changes to ClusterRoleBindings"
**Motivation**
It is useful to track changes to ClusterRoleBindings to stay on top of who has what permissions.

**Suggested Feature**
Robusta already has triggers for ClusterRoleBinding changes (see [docs](https://docs.robusta.dev/master/catalog/triggers/kubernetes.html)) but there are no builtin actions setup for those triggers. We should add an action called `cluster_permissions_watcher` which

[2022-02-18 15:51] aantn opened #218 "Add playbooks to detect issues with persistent volumes and send a message"
**Motivation**
Lots of people have issues with persistent volumes. We should add detections for these and recommend fixes.

**Example issues**

* https://stackoverflow.com/questions/52668938/pod-has-unbound-persistentvolumeclaims/52669115#52669115
* https://stackoverflow.com/questions/51946393/kubernetes-pod-warning-1-nodes-had-volume-node-affinity-conflict/55514852#55514852

[2022-02-18 15:54] aantn opened #219 "Add playbook action to enrich the Prometheus alert KubeJobFailed"
**Motivation**
This is a common Prometheus alert and we should enrich it out of the box.

[2022-02-18 15:59] aantn opened #220 "Allow silencing Prometheus alerts directly from Slack (and other sinks)"
**Motivation**
Sometimes alerts are really noisy and you just want to silence them temporarily. You can do so by opening AlertManager and creating a silence in the UI (or by using the amtool cli) but you can't do so directly from Slack.

**Suggested Solution**
1. Write a playbook action which takes a Prometheus alert and silences it
2. Write a playbook action which is triggered on every Prometheus

[2022-02-18 16:03] aantn opened #221 "Add better documentation on CallbackBlocks"
CallbackBlocks are part of Robusta's API. They're used to write playbooks where the user clickes a button (e.g. in Slack) and this triggers another playbook which runs only when the user clicked.

This powers, for example, the playbook that lets you increase the HPA max replicas. (See [docs](https://docs.robusta.dev/master/coverage.html?highlight=hpa#alert-on-hpa-reached-limit))

Today CallbackBlo

[2022-02-18 19:17] aantn opened #222 "Add action to show files in Volume"
**Motivation**
It can be hard to understand exactly what data is contained inside a Kubernetes volume. We can provide visibility with Robusta actions

**Suggested Implementation**
Add a Robusta action which:

1. Takes a Kubernetes volume as input
2. Runs a "reader" job/pod which mounts that volume
3. The reader pod should run `ls -R` on the volume to show all files.
4. The Robusta action should ga

[2022-02-19 09:38] arikalon1 commented on #214
Thanks, looking into this.
Just to clarify, because the queries to prometheus failed, Robusta didn't notify about the alert?

[2022-02-19 09:48] tuananh2508 commented on #214
Yes. Robusta doesn't send Prometheus alerts.

[2022-02-19 10:04] arikalon1 commented on #214
Thank you. It does sound like a bug.
We'll handle it shortly

[2022-02-19 11:20] aantn opened #223 "New playbook action to increase node group size"
We can start by supporting only one cloud provider (e.g. EKS) - that's OK

[2022-02-19 13:36] aantn commented on #213
Hey, it's not supported today but we'd love to help with this.

We wont be able to implement it by ourselves in the next few weeks, but we can support any work you do on this, review a PR (and merge it), and of course answer any questions you have about the code base and how to implement it.

There are three major options here:

1. If you want to only use Kubewatch (and not the Robusta features) t

[2022-02-19 20:47] aantn opened #225 "Implement Robusta action for C# debugger and diagnostics"
Reference:

* https://docs.microsoft.com/en-us/dotnet/core/diagnostics/#net-core-diagnostic-global-tools
* https://github.com/OmniSharp/omnisharp-vscode/wiki/Attaching-to-remote-processes
* https://github.com/Samsung/netcoredbg

[2022-02-20 19:18] jsoref opened #229 "Poor alt text on index page"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Turn off loading images in your web browser
2. Go to https://docs.robusta.dev/master/

**Expected behavior**
Alt text should be meaningful.

If the logo is the logo for `Robusta`, then the word `Robusta` should be in the alt text.

**Screenshots**
<img width="244" alt="image" src="https://user-images.githubusercontent.com/2

[2022-02-20 19:21] aantn commented on #229
Thank you for reporting!

On Sun, Feb 20, 2022 at 9:19 PM Josh Soref ***@***.***> wrote:

[2022-02-20 20:11] ghostsquad commented on #213
I feel like what I actually need is to watch the kubernetes audit log, which does tell me about all the operations that happen across the cluster. What I haven't figured out yet is to get the actual _diff_ of what's changing. I'm simply seeing the requested fields of the object.

[2022-02-20 20:37] aantn commented on #213
Sorry to be a nag, but I'd still love to hear more about the use case! We've considered adding an integration with the Kubernetes audit log before but don't have enough use cases to support it yet.

So if I can better understand what you're trying to achieve (and why) maybe we can do it!

[2022-02-20 21:16] ghostsquad commented on #213
@aantn I'm not actually sure this is possible with just the auditlog, I'm trying to get some more information from a kubernetes maintainer about this.

### 💡 Use Case

The use case though is basically this repo, or kubewatch, or https://github.com/grafana/kubernetes-diff-logger, Komodor.com

I want to track changes happening to objects, and be able to a minimum (v1) just report those changes, allo

[2022-02-20 23:18] aantn commented on #213
It makes total sense and it's doable with Robusta. We can't yet statisfy every requirement, but what you're trying to do is one of Robusta's major goals. So we're committed to fixing the missing parts too.

You can find a good intro to our change-tracking capabilities in the [relevant tutorial](https://docs.robusta.dev/master/tutorials/configuring-automations.html). I'll cover some additional stuf

[2022-02-21 00:29] ghostsquad commented on #213
The audit log gives you the who. It tells you about other ”failed" changes too (useful to see), and since it's following the audit log, it means you will never miss changes** - in theory you should be able to resend logs you missed if the app was offline. It doesn't seem that any of these things are possible without watching the audit log.

[2022-02-21 03:23] kranurag7 commented on #229
@aantn Should I fix this with `robusta-light` and `robusta-dark` in case of `Light Logo` and `Dark Logo` in the dark mode.

[2022-02-21 03:43] jsoref commented on #229
I question the value of telling a blind user that the logo is light or dark. I think it's more important to say "Robusta Logo" if that's what it is. If a blind user is curious, they can inspect the file name, which I imagine would tell them the fact that it's light or dark.

Note that blind users don't naturally get told the color of the rest of a web page (neither the foreground nor the backgroun

[2022-02-21 03:56] aantn commented on #213
Yes, that's correct. Regarding not missing changes, what's a realistic
scenario where you would miss changes with the WATCH api? I understand that
there are theoretical cases where it can happen, but in practice it works
extremely well and I'm yet to see a real world case where changes go
missing.

On Mon, 21 Feb 2022, 2:29 Wes McNamee, ***@***.***> wrote:

[2022-02-21 03:58] aantn commented on #229
Writing "Robusta Logo" sounds good to me too.

On Mon, 21 Feb 2022, 5:43 Josh Soref, ***@***.***> wrote:

[2022-02-21 04:11] kranurag7 commented on #229
Great suggestion @jsoref Let's go with `Robusta Logo`

[2022-02-21 04:41] ghostsquad commented on #213
All that has to happen for you to miss something is for the watcher to crashloop. Any event that occurs during that time would be missing, and there's no way to get it back.

Typically this isn't an actual problem for most kubernetes controllers, during runtime, the ideal is that it can react to changes that occur, but also, controllers should be, at startup, reaching out to find out the current s

[2022-02-21 09:02] aantn commented on #213
Yes, that's true. There are high availability solutions based on multiple instances, but also not 100%.

If you want something hermetic, you need the audit API or possibly an admission control based solution.

That covers the backend-side of it. You'll still need a convenient way to browse / view the changes and correlate with alerts.

If you're interested in doing something with Robusta, happy to

[2022-02-21 09:06] aantn commented on #213
FWIW, I believe all these are using the WATCH API so the fundamental issue is the same.

It would be very nice to implement a hermetic solution in Robusta based on the audit API and to provide a definitive way of doing it.

[2022-02-21 19:01] ghostsquad commented on #213
Ya, they all use watch, and I'm not saying it's bad, just saying that I want something that has a higher reliability, and can report natively on information that is only available in the audit log. (There's no Audit API AFAIK).

What I'd like to do is maybe work on a Go library for this, which could not immediately be directly integrated into this, but maybe Robusta could implement either an enric

[2022-02-22 07:19] aantn opened #234 "Add robusta to CIVO Cloud marketplace"
We love CIVO cloud and this would make it easier for people to install robusta on their clusters

[2022-02-22 13:40] arikalon1 opened #235 "Support overriding the default playbooks PVC size"
when setting `playbooksPersistentVolume: true`, the chart is trying to create a PVC of 128Mi
Some storage classes doesn't support such a small size, and the PVC creation fails.

Steps to reproduce the behavior:
1. set the default storage class to io2
2. `playbooksPersistentVolume: true` in the `values.yaml` file
3. Run `helm install robusta ...`
4. See error

**Expected behavior**
There should be

[2022-02-22 15:55] arikalon1 opened #236 "Using playbooksRepos causes error: "coalesce.go:163: warning: skipped value for playbookRepos: Not a table.""
Trying to enable git playbooks in my private `generated_values.yaml` file causes an error
coalesce.go:163: warning: skipped value for playbookRepos: Not a table.

Steps to reproduce the behavior:
1. in the `generated_values.yaml` file add:
[code]
2. run `helm instal robusta ...`
4. See error

**Expected behavior**
The git playbooks repo should be installed and loaded into Robusta runner

[2022-02-22 19:07] aantn commented on #236
Is there any chance that's a spacing/tabs issue? Something here is invalid from helm's perspective.

[2022-02-22 19:08] arikalon1 commented on #236
it's the default initialization of the `playbookRepos` values to [], but it's a dictionary.

[2022-02-23 18:41] kranurag7 commented on #234
@aantn I would love to work on this.

[2022-02-24 03:44] avinashupadhya99 commented on #234
How will we pass the helm values during installation from Civo marketplace? The marketplace only allows dropdown style inputs from what I have seen so far on the marketplace.

@kranurag7 how do you plan on implementing this?

[2022-02-24 04:03] avinashupadhya99 opened #238 "robusta gen-config fails with python error for invalid account token"
**Describe the bug**
Providing an invalid account token to the robusta CLI during the generating of the value.yaml file throws different python errors for different scenarios.

**To Reproduce**
Steps to reproduce the behavior:
1. run `robusta gen-config`
2. Provide Y to `Would you like to use Robusta UI? This is HIGHLY recommended. [y/N]:` and to `Do you already have a Robusta account? [y/N]:`
3.

[2022-02-24 08:24] avinashupadhya99 opened #239 "`robusta playbooks push` fails if robusta is installed in namespace other than default and namespace is not specified"
**Describe the bug**
`robusta playbooks push` fails if robusta is installed in a namespace other than the default namespace and the `--namespace` flag is not specified. Since it is not recommended to have pods in the default namespace, it is common to install robusta in its own namespace.

**To Reproduce**
Steps to reproduce the behavior:
1. Install robusta in a namespace other than the default us

[2022-02-24 10:46] aantn commented on #234
Yeah, that seems to be an issue.

Generally speaking, I think we want to skip running `robusta gen-config` and just fill in Helm values from the Civo UI dropdowns.

That won't work for configuring the Slack key and Robusta UI token. We can ask you to run `robusta integrations slack` to generate a Slack token first, but if there is no way to provide that as input with Civo cloud then that's a probl

[2022-02-24 11:49] #236 closed

[2022-02-24 11:51] arikalon1 commented on #235
Changed the default volume size to 4Gi, we should work with any storage class.
Added a helm value to override the default size `playbooksPersistentVolumeSize`

[2022-02-24 11:51] #235 closed

[2022-02-24 13:50] avinashupadhya99 opened #243 "Playbooks pushed to namespace other than default are not present in `robusta playbooks list`"
**Describe the bug**
Playbooks pushed to namespace other than default are not present in `robusta playbooks list`

**To Reproduce**
Steps to reproduce the behavior:
1. Install robusta in a namespace other than the default using `helm install robusta robusta/robusta -f ./generated_values.yaml -n robusta --create-namespace`
2. Create a custom playbook repository by following https://docs.robusta.dev

[2022-02-25 06:00] saiyam1814 commented on #234
For helm values why not we create a basic best helm values chart - we can get the email and clusterID form the variables.
For the config - we can put those instructions in the Post_install.
We can do the best possible installation, give the config + patch commands in the post_install file

[2022-02-25 09:13] avinashupadhya99 commented on #243
Closing this since I had not included the playbook in my values.yaml file and upgraded the helm chart. Once included in the YAML file and `helm upgrade` is run, I am able to see the playbook in `robusta playbooks list`

[2022-02-25 09:13] #243 closed

[2022-02-25 16:35] Aju100 opened #244 "Initiate the golang troubleshooting guide"
Hi everyone, I am new here as a member I would love to contribute to the troubleshooting section. As far as robusta docs have a python & java section guide with its own respective SDK.
![go](https://user-images.githubusercontent.com/29862610/155752003-654d920b-59aa-4168-95e7-545be77af9e6.png)

I wanted to know and create SDK for golang so documentation and robusta's feature will be much more enhan

[2022-02-25 17:59] arikalon1 commented on #214
Fixed.
If there's no connection to prometheus, the alert will be sent with the enrichment from prometheus

[2022-02-25 19:24] aantn commented on #243
Cool, glad it works :)

[2022-02-25 21:13] aantn commented on #213
It sounds good to me. Happy to support this on the Robusta end.

We can fetch data by pull (e.g. with an enricher) or we can receive events by push (with a new trigger for audit events). Both work fine.

[2022-02-26 09:48] aantn commented on #244
+1

Will try to focus on this with @Avi-Robusta in the coming week.

[2022-02-26 09:50] aantn commented on #244
To clarify, I think the first priority here is improving the documentation. @Aju100 it would be wonderful if you then worked on implementing the go features with those docs. In addition to the huge benefit of go support, it would also let us make sure the docs are complete.

[2022-02-26 09:53] aantn commented on #239
+1

If the pod doesn't exist then we should say so and recommend using the namespace flag if necessary. No need for a long exception.

@avinashupadhya99 any interest in working on a PR for this?

[2022-02-26 12:46] Aju100 commented on #244
sure @aantn I will look out the docs issues.

[2022-02-26 16:54] aantn opened #247 "Document helm values and show it in the official docs"
1. Add comments to values.yaml documenting each value
2. Show those comments in the sphinx documentation using some tool

[2022-02-26 18:17] avinashupadhya99 commented on #239
I just realized that the exception logs are from the `Fetching logs...` section, which is displayed for both positive and negative scenarios. Should we not display logs if the command fails? Or should I just update the error message suggesting to use a namespace flag if the robusta-runner pod does not exist?

Looking at the logs for a new user, it feels like the command crashed and printed excepti

[2022-02-26 21:06] kranurag7 opened #248 "Hierarchy for robusta playbooks"
- As of now all the robusta playbooks are within one single [folder](https://github.com/robusta-dev/robusta/tree/master/playbooks/robusta_playbooks)
- We are intending to add many more playbooks in the future [Reference](https://youtu.be/oavP7M5P8xY).
- We need to set up the hierarchy either based on k8s resources or based on different categories.

[2022-02-26 21:33] aantn commented on #248
+1

@arikalon1 any thoughts on how we should organize them?

[2022-02-27 08:21] arikalon1 commented on #248
Can we organize playbooks in separated playbook repos?
Will that be good enough?

[2022-02-27 08:26] aantn commented on #248
I'm not sure. I'm in favor of keeping most of the playbooks in the current repo so using them is smoother and we can release them alongside Robusta versions.

However, we already have 30 or so files in the robusta_playbooks directory. In the docs we're organizing them by category, but in the source code we're not.

For me it's easy to find what I'm looking for because I wrote it and know where to

[2022-02-27 09:52] aantn commented on #234
@saiyam1814 It seems weird to give instructions in post_install which involve changing the Helm values and redeploying the entire application... It makes the install step a little meaningless.

Is there a fundamental reason why the marketplace doesn't take free-text inputs? (E.g. a desire for simplicity.)

All this said, we can try to work around this if we have to. Not sure what the best solution

[2022-02-27 10:15] #207 closed

[2022-02-27 10:15] #214 closed

[2022-02-27 12:14] kranurag7 commented on #248
I agree with @aantn in this case. For new contributors it's tough to find. Also in future if we will get more actions live then it will be easy to document and if we maintain a hierarchy then filtering out will be smooth as well.

[2022-02-27 13:30] aantn commented on #239
I think there are two issues here that should be fixed:

1. If the runner pod doesn't exist then `fetch_runner_logs` throws an exception. It would be better if it just printed something like "Cannot fetch logs. robusta-runner not found."
2. In the `push` command we should check if the runner pod exists. If not, we can print an appropriate message suggesting you set `--namespace` and exit. (I don't

[2022-02-27 18:15] arikalon1 commented on #248
ok. So splitting the playbooks into logical categories, where each category is a folder?
What categories would you choose?

[2022-02-28 08:36] #239 closed

[2022-02-28 11:16] AnaisUrlichs opened #252 "Installing Robusta into separater ns"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Usually, when installing a helm chart, it will install all resources related to the deployment into a separate ns. However, when installing robusta, it does not create a new ns but installs everything into the default ns.
![Screenshot 2022

[2022-02-28 13:31] aantn commented on #252
Thanks, makes sense.

@AnaisUrlichs would it be enough to just update the docs to recommend running `helm install --create-namespace --namespace=robusta` install of `helm install` or should we be changing something in the chart? Do you have an example of another project that we can look at as reference?

[2022-02-28 13:46] AnaisUrlichs commented on #252
Hmm, it would be nice if that would happen out of the box :D
but now looking at some Helm Charts e.g. prometheus or our starboard chart, it seems like that is the go to -- so that should work

[2022-02-28 17:30] aantn commented on #252
Cool, thanks.

[2022-03-02 05:27] saiyam1814 commented on #234
I mean we can provide the best possible values during the installation and then in the post install we can just have the step to install robusta cli and add the slack channel or upgrade the config if required.

[2022-03-02 08:14] aantn opened #257 "Make robusta installation more forgiving of errors"
Reporting on behalf of @shfisher

If you enter something wrong in `robusta gen-config` (e.g. a bad slack channel) then we shouldn't abort the installation and force you to start again. Instead give the user a second chance.

[2022-03-02 15:49] aantn opened #258 "Use new custom triggers API to refactor existing playbooks"
Today we try to write Robusta actions that can be re-used in multiple scenarios. For example, an action that fetches logs should be usable both in the case of a crashing pod and a prometheus alert.

In the past, we sometimes wrote actions that included triggering logic too. For example, the `restart_loop_reporter` action is connected to the trigger `on_pod_update`. This fires very frequently and n

[2022-03-03 11:44] aantn opened #259 "Clarify in Robusta docs and error messages that Slack channel needs to exist first"
In other words, Robusta doesn't create the channel.

Add something to error messages in gen-config and perhaps in robusta log output. E.g.

`Cannot send to Slack channel XYZ. Please verify that the channel exists and the Robusta app was added to the channel. (See video in [docs](https://docs.robusta.dev/master/catalog/sinks/slack.html#sending-robusta-notifications-to-a-private-channel))`

Thank yo

[2022-03-03 14:54] shfisher opened #260 "More details on 'Crashing pod' Slack message"
I have amount of containers inside the pod, and when the pod crashed I want to see in the Slack message which container exactly caused it. For example, my workflow is to launch some init containers before the pod starts (fetch secrets, internal dependencies, flyway), and for now I get the same message 'Crashing pod <pod name> in namespace <namespace>', and I need to describe the pod to understand

[2022-03-03 16:32] orclassiq opened #261 "Get visibility for ingresses"
Currently I can't use robusta to get notifications about ingresses.
I would like to get notifications about ingresses (or other resources) the same way I get them about pods.

[2022-03-03 17:41] shfisher opened #262 "Remember namespace and cluster in UI"
When I logout/login to UI, I need to select the cluster and namespace (instead of default ALL). I want to configure what are my default cluster and namespace to show, and at least to remember the last choose

[2022-03-03 17:45] shfisher commented on #252
When you update the _install_ instructions, don't forget to update _upgrade_ instructions too

[2022-03-03 17:50] shfisher commented on #252
Should be separate namespace by default. Another way can be collecting the desired namespace from user during installation script.  You can add it to generated values, and inside the helm resources use `namespace: {{ default "robusta" .Values.namespace }}`

[2022-03-03 19:08] aantn commented on #261
We can add something. Would you like to see notifications in Slack or in the UI? If in the UI, where would you expect the changes to appear? Just on the global timeline?

[2022-03-03 20:24] aantn commented on #262
Good idea.

I've deployed a quick-fix for now. If you select a namespace and cluster then it will update the URL. If you bookmark that URL and use it next time you login, it will "remember" the settings and use whatever is in the URL.

Let me know if this workaround is useful until we implement a full fix.

@mershal FYI

@liorfranko might be useful for you too

[2022-03-04 09:05] wfgydbu opened #263 "Add Mattermost support in sinks"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
add Mattermost support in sinks

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2022-03-04 23:11] arikalon1 commented on #260
Hi @shfisher ,
We display the container name in the message body.
Would adding it to the description as well help? (This way you can see it when hovering on the timeline in the UI)

[2022-03-06 00:27] #238 closed

[2022-03-06 00:27] #257 closed

[2022-03-06 00:27] #259 closed

[2022-03-08 04:06] jainpratik163 opened #265 "Support for ElasticSearch"
**Is your feature request related to a problem? Please describe.**
how we can send events to ElasticSearch

[2022-03-08 08:24] arikalon1 commented on #265
Hi @jainpratik163 , thank you for reporting this

In order to support that we need to create elastic search sink, which is fairly easy.

Can you elaborate a little more on your use case?
Which data would you like in elastic?

What would the ideal solution look like?
For example, you will configure an index name, and credentials, and Robusta will insert json objects to the specified elastic index?

[2022-03-08 08:37] orclassiq commented on #261
Ideally, it would appear in both places.
The main point is that there are cluster "error" events that don't appear anywhere in robusta.

[2022-03-08 12:38] jainpratik163 commented on #265
Hi,
we want to capture all Kubernetes events into Elastic search.
the output of this `kubectl get events` should be index in ES and later on we can use this index for debug purpose.

Thanks

[2022-03-08 14:25] arikalon1 commented on #260
I actually think it might be useful for others as well, so I'm going to add it anyway

[2022-03-08 16:20] aantn commented on #265
Got it, sounds useful.

Any specific way you plan to use the index? E.g. in what situations will you view it? As part of elasticsearch dashboards, in response to specific alerts that occur, etc?

Curious if there are other features we can add too, in addition to the elasticsearch sink here.

[2022-03-08 16:40] zhelyan opened #266 "Routing messages"
Hi,

thank you for the great tool!

We might be able to contribute on the feature request below but I wanted to first check if you had any thoughts, design concerns or suggestions:

It would be nice to be able to route the robusta messages similarly to how alertmanger does it.
Here's an example for Slack:

[code]

would send messages where `namespace` matches `prod-*` to the `prod-issues` slack ch

[2022-03-09 04:22] jainpratik163 commented on #265
mostly we will check in ES when we face some issue.
Mostly we will check for warnings or errors or issue events.

[2022-03-09 11:32] aantn commented on #266
Hey, sounds great to me! We'd love to get a PR for this.

@arikalon1 any notes regarding implementation?

[2022-03-09 11:42] arikalon1 commented on #266
Thank you for the kind words @zhelyan :)
I like the idea very much as well.

What are your thoughts about the syntax here?
Is it full regex match? only simple wildcard (*)? maybe just contains or simple prefix?
And regarding namespace/kind/name, these are all mapped to the finding subject, right?

[2022-03-09 12:58] zhelyan commented on #266
Regex sounds reasonable to me too.

I _think_ the general use case here is conditional forwarding, not routing. Routing implies that you have 1 sink and multiple internal destinations but some sinks, e.g datadog don't really work like that - there's one DD account with no option to "route" messages to e.g account members:

[code]

[2022-03-09 14:11] arikalon1 commented on #266
yes, I agree. I think it should probably be a generic filtering layer before sending to each sink

[2022-03-10 09:19] michelesr commented on #266
@arikalon1 I have a working implementation that uses the subject finding fields as matchers, see https://github.com/citizensadvice/robusta/blob/master/docs/user-guide/configuration.rst#sink-matchers; I still need to tidy up a little bit but if you like the idea I'll open a PR soon

[2022-03-10 10:02] michelesr commented on #266
Actually my implementation currently works only with the fields of the subject, rather than the whole finding attributes. Matching against any arbitrary attribute of the finding is more flexible but requires more care in handling attributes (some of them needs to be converted in the proper string representation before being matched against the regular expression).

[2022-03-10 10:30] arikalon1 commented on #266
Looks very nice!
Just to make sure, if you specify multiple matchers, the operation is logical AND?
Like, node and namespace?

I think for `subject_type`, I would name the matcher field `kind`, because `subject_type` is more an implementation detail, and `kind` is more of a k8s API. WDYT?

I think I would invest the extra effort in matching all finding fields. I can think of use cases where you wa

[2022-03-10 10:37] michelesr commented on #266
Yes you need to match all of them or the finding won't be written

Yeah, that's probably easier for the user

That can be done, but I need to think how to do it without adding too much complexity: do we decide which fields can be matched to play safe o we try to match them all after converting them to the most suitable string representation?

[2022-03-10 10:46] arikalon1 commented on #266
I would choose the safe play here, and try to make the yaml interface in terms logical for the user.
like: title, source, type, severity, identifier (for aggregation_key, which is the type of the finding data. Other suggested names are welcome)
@aantn , @michelesr , @zhelyan  thoughts on that?

[2022-03-10 11:08] zhelyan commented on #266
I'm discussing this with my colleague @michelesr.
@arikalon1 that's a good point. The implication is that it tightly couples the yaml interface to the implementation as finding / findingsubject attributes bubble up in the sink yaml interface.

Alternatively we can allow arbitrary attributes in the sink yaml config and delegate filtering to the finding class:

[code]

[2022-03-10 14:22] michelesr commented on #266
@arikalon1 what could be a safe default for handling enumerations? do we match against the `name` or the `value` of the enumeration? or should we be treating them differently depending on the specific case? e.g. `FindingSubjectType` could be `TYPE_POD: "pod"` and `FindingSeverity` could be `INFO: 1`, so it's unclear whether a default can be adopted everywhere, and how enumeration are likely to be

[2022-03-10 14:46] arikalon1 commented on #266
I think the internal objects should also implement `filterable` and implement according to the specific type.
For `FindingSeverity` probably makes sense to match the `FindingSeverity.name` while for the `FindingSubjectType` it should be on the value.
We can document the allowed values for the different fields, where applicable

[2022-03-11 23:38] michelesr commented on #266
This can be closed now (didn't use the fix keyword on the PR so it didn't close automatically)

[2022-03-12 00:04] #266 closed

[2022-03-14 16:06] NikhilMaheshwari opened #272 "Kubernetes Events Either coming delayed or incorrectly"
**Describe the bug**
Feature of kubernetes events to slack sink is showing events which when we trace back on cluster are missing.
So for event notification that are not containing tabular event data in alert, If we cross check events in kube cluster via command

kubectl get events -A

Those events are missing in output of that. Same is case in describe pod output. But events are shown on robusta.

[2022-03-14 21:22] aantn commented on #272
@arikalon1 is this the bug you found regarding event deletions?

[2022-03-14 23:37] arikalon1 commented on #272
@aantn yes, it is.
The fix is included in release 0.9.0.
Closing

[2022-03-14 23:37] #272 closed

[2022-03-17 12:51] michelesr opened #274 "Resolved Alertmanager alerts are fired against the sink"
**Describe the bug**
Alerts in `resolved` status are sent again to the sinks, giving the wrong impression that the problem hasn't been resolved.

**To Reproduce**
Steps to reproduce the behavior:
1. Trigger a Prometheus alert
2. Resolve that alert
3. Check against the main sink

**Expected behavior**
Either the alert shouldn't be fired again, or it should be labeled in a way that makes clear that

[2022-03-17 23:09] aantn commented on #274
Yeah, that's a bug.

My preference is to not send a message the second time at all. @arikalon1 what are your thoughts?

@michelesr This is slightly off-topic, but we're planning to do some work around alert lifecycle in the UI. If the same alert fires multiple times, we'd like to show those firings as one continously firing alert, not several distinct alerts. When the alert is finally resolved we'

[2022-03-18 09:48] michelesr commented on #274
Maybe implement a repeat interval like in Alertmanager?

[2022-03-18 15:12] aantn commented on #274
Yeah, perhaps we could do it with better rate limiting (as part of the trigger) or some form of rate limiting on the sink.

[2022-03-18 15:36] arikalon1 commented on #274
I think we should add the alert status (firing / resolved) and send it to sinks, similarly to what alert manager does.
I think repeat interval/rate limiting applies on the same alert, but if the alert status has changed from firing to resolved the rate limiting shouldn't silence it.

[2022-03-18 15:39] aantn commented on #274
@arikalon1 if we do that, how do we address the original issue here? By filtering out resolved alerts in the Slack sink?

[2022-03-18 15:54] aantn commented on #274
Got it. This sounds good to me.

[2022-03-19 23:03] aantn commented on #274
@michelesr hey, we're going to fix this in the current sprint.

[2022-03-21 09:11] aantn opened #277 "Add --context flag to all robusta cli commands to run them on a given kube config context"
E.g. `robusta gen-config --context=other-cluster`

[2022-03-21 21:57] SohumB opened #278 "ARM Support!"
Most of the images you're using are multiarch, so Robusta is almost fully built for ARM, but there are three that are x86 only:

* `us-central1-docker.pkg.dev/genuine-flight-317411/devel/kubewatch:v1.11`
* `us-central1-docker.pkg.dev/genuine-flight-317411/devel/grafana-renderer:6`
* `us-central1-docker.pkg.dev/genuine-flight-317411/devel/robusta-runner:0.9.4`

It'd be great if there were multi-arc

[2022-03-21 22:06] SohumB opened #279 "`annotations` / `tolerations` / `nodeSelector` support in helm charts"
For easier integration into differing environments, it'd be great if these parts of the pod template spec for individual deployments were customisable!

It's possible to work around this with anything that can patch post-helm-rendered yamls, like:
* `kustomize`
* `kustomize` as used by `helmfile`'s `strategicMergePatches` key
* `kustomize` as used by `helm` 3's new [post-renderer support](https://

[2022-03-21 22:22] aantn commented on #278
Yep, completely agree. Don't have an ETA for this yet but we'll get to it!

On Mon, 21 Mar 2022, 23:57 Sohum Banerjea, ***@***.***> wrote:

[2022-03-21 22:28] arikalon1 commented on #279
@SohumB Thanks for reporting this.
Makes perfect sense, we'll add it shortly

[2022-03-23 18:09] aantn commented on #277
I think we can leave the docs as is. We should add the flag to the python code for the cli.

[2022-03-24 06:55] kingsathurthi commented on #277
Okay, it would be great if you let me know that path to python file

[2022-03-25 18:34] kranurag7 commented on #277
@kingsathurthi Here is the link to the CLI code https://github.com/robusta-dev/robusta/tree/master/src/robusta/cli

[2022-03-27 05:18] AvineshTripathi commented on #277
Hey @kingsathurthi if you are not working on this issue, can I take over this

[2022-03-27 05:25] kingsathurthi commented on #277
@AvineshTripathi I'm working on this issue

[2022-03-30 12:16] aantn commented on #265
@jainpratik163 we've started sending alerts to the [UI](https://home.robusta.dev/ui/)

Does that help in any way or is it a MUST for the data to be in Elasticsearch?

[2022-03-30 12:45] jainpratik163 commented on #265
@aantn it will help but it will be also great if we have stored data into ES so that later we can check or analyze.

[2022-03-31 09:12] AvineshTripathi commented on #277
@kingsathurthi we can always collaborate for the issue if you want

[2022-03-31 10:39] kingsathurthi commented on #277
Sure @AvineshTripathi how do we connect?

[2022-03-31 13:22] AvineshTripathi commented on #277
Slack my handle is Avinesh Tripathi in slack

[2022-03-31 16:31] Sheeproid commented on #274
@michelesr we added a fix tha labels the alert as resolved.
You're more then welcome to share more feedback with us 🙂

[2022-03-31 16:31] #274 closed

[2022-04-03 02:32] woot3d opened #287 "Not able to generate values file"
**Describe the bug**
I'm new to robusta and i really like features that this tool offers, i downloaded the chart and tried to generate a values file that will help me to understand more how it works but looks that i'm not able to do so.

**To Reproduce**
Steps to reproduce the behavior:
1. robusta gen-config
Usage: robusta [OPTIONS] COMMAND [ARGS]...
Try 'robusta --help' for help.
Error: No such c

[2022-04-03 06:47] arikalon1 commented on #287
Thank you for reporting this @woot3d
Can you please share the output of `robusta version` ?

[2022-04-03 18:50] woot3d commented on #287
Thank you @arikalon1 for your quick response ,here is the version that im using 👍

sh: robusta version
version 0.4.50

[2022-04-03 19:20] arikalon1 commented on #287
Thanks @woot3d
You're getting an old version of the robusta CLI. (the latest is 0.9.4)
It can happen because of using an old python version (we need to update it in the docs)
Will you be able to update your python version, and try installing the CLI using pip again?

[2022-04-03 21:03] woot3d commented on #287
Thanks again @arikalon1 for your quick help ,much appreciate your assistance .

Could you please point me to which python version i will need to run to be able to use the latest robusta cli?
( i've python2 and python3 on my box )

Thanks again

[2022-04-03 21:17] arikalon1 commented on #287
Glad to help :)
Python >= 3.7.1 is required

[2022-04-03 21:34] woot3d commented on #287
Thanks again @arikalon1 much appreciate will upgrade my python version and start exploring that great tool

[2022-04-03 21:57] woot3d commented on #287
I've last question regarding the usage of that tool if its possible :

1. As i already have prometheus operator i skipped adding robusta prometheus stack ,is there any further config that i need to add to robusta to be able to use my existing prometheus or it will be integrated automatically ?
2. i find that the actions block is very interesting but im not sure how i can use it as the generated va

[2022-04-03 22:42] arikalon1 commented on #287
1. In order to use an existing prometheus, you need to add a receiver in your existing alertmanager, that sends alerts to Robusta. see this guide: https://docs.robusta.dev/master/catalog/triggers/prometheus.html#sending-alerts-to-robusta
2. Robusta helm chart has some default playbooks configured.
You can see it here: https://github.com/robusta-dev/robusta/blob/master/helm/robusta/values.yaml (und

[2022-04-03 23:17] woot3d commented on #287
Thanks a lot @arikalon1 ,much appreciate your support , i will follow the suggested documentation .

[2022-04-14 06:39] #277 closed

[2022-04-14 07:06] AvineshTripathi commented on #222
I am looking forward this issue, doing a dive to get my hands dirty is there anything I should be aware about the issue or descriptions says all

[2022-04-14 15:34] aantn commented on #222
Everything is in the description. Feel free to ask any questions in the #beginners channel on Slack

[2022-04-23 17:05] Sayanta66 commented on #162
@shahakL can you provide the link of the doc where it should be added?

[2022-04-25 18:42] pcgeek86 opened #299 "Distribute Robusta CLI via Scoop package manager for Windows"
**Is your feature request related to a problem? Please describe.**

- [Scoop](https://github.com/ScoopInstaller/Scoop) is a popular, open source package manager for Windows, with 15,000+ stars on GitHub
- Many Kubernetes tools, such as `kubectl`, `kubectx`, `argocd`, `pluto`, `k9s`, `kubeval`, `lens`, and others, are distributed via Scoop package manager
- Robusta CLI is currently distributed via

[2022-04-27 02:22] acrogenesis opened #300 "Only monitor default namespace"
Is there a way to only monitor the default namespace?

[2022-04-27 07:30] arikalon1 commented on #300
Hi @acrogenesis ,
Can you elaborate a on what you mean by monitoring?
Are you interested in only receiving Slack/Teams notifications for a specific namespace or is your goal to limit which namespaces Robusta itself monitors (e.g. for security reasons)

[2022-04-30 11:28] aantn commented on #299
Interesting. We've been looking at some solutions for installing Robusta without depending on pip. They most involve:

1. Creating a single binary containing a python interpreter, the robusta cli, and all library dependencies (there are a few nice python tools for this like pyoxidizer and older alternatives)

2. Somehow delivering those binaries to end users without pip

This would solve (2) for W

[2022-05-01 11:12] #279 closed

[2022-05-02 09:42] dennislapchenko opened #307 "Secure addition of private SSH key for private git repository with custom playbooks"
**Is your feature request related to a problem? Please describe.**
https://docs.robusta.dev/master/user-guide/configuration.html#loading-additional-playbooks
Describes how to add an SSH key, but this aint a secure way for kubernetes manifests.

**Describe the solution you'd like**
I would like to create a kubernetes secret with the key which can be later mounted onto Robusta deployment.

**Describ

[2022-05-02 13:27] Sheeproid opened #308 "test please ignore"
this is a test

[2022-05-02 13:28] Avi-Robusta opened #309 "test2"
testing123

[2022-05-02 13:30] #308 closed

[2022-05-02 13:30] #309 closed

[2022-05-02 13:30] Avi-Robusta opened #310 "test3"
testing123

[2022-05-02 13:30] #310 closed

[2022-05-02 15:19] Sheeproid opened #311 "test123"
zz123

[2022-05-02 15:23] #311 closed

[2022-05-03 08:26] Sheeproid commented on #307
Hi @dennislapchenko, Thank you for opening this issue.

I just want to clarify that the SSH keys are deployed as Kubernetes secrets anyway, that is what "playbooks-config-secret" is for. This secret is mapped into the Robusta runner. Does this satisfy your requirements?

(cc @arikalon1 )

[2022-05-03 10:43] dennislapchenko commented on #307
@Sheeproid Thanks for your answer.
I understand that keys are saved to file and then used. But how does one provide an RSA key as kubernetes secret, which can be properly used by runner to fetch custom playbooks from a private git repo?

[2022-05-03 11:11] arikalon1 commented on #307
hi @dennislapchenko

In order to load a custom playbooks repo, you need to add to your `values.yaml` file, the `playbookRepos` attribute as described here: https://docs.robusta.dev/master/user-guide/configuration.html?highlight=git#loading-additional-playbooks
[code]
(please note the the indentation here is important, and that the key is a multi line string starting with '|-')
After that, run `hel

[2022-05-03 12:17] dennislapchenko commented on #307
@arikalon1 Thanks, as you can see from the description i wrote above: I am aware of this piece of config. I am afraid you have missed my point. I dont want to store private key in a yaml config.. how do i store this in version control? AS you can see above I have found the `{{ env. }}` syntax, but cant make it work for this field. Are you trying to tell me that everyone who uses private git repo f

[2022-05-03 12:34] arikalon1 commented on #307
Thanks for the clarification @dennislapchenko
I just now understood you wanted to put your `values.yaml` file in git.
Currently, the {{ env. }} syntax isn't supported for the playbookRepos.
It's a small fix though.
We will fix it shortly, and update you once we release it

[2022-05-03 12:39] dennislapchenko commented on #307
Great!!! Cheers @arikalon1
You think it will work for expanding multiline environment variables (like the RSA key in question)? :3

[2022-05-03 12:40] arikalon1 commented on #307
Yes, of course

[2022-05-04 09:21] AvineshTripathi commented on #222
Hey @aantn when you say volume is it a object that the function would receive or just the name of the volume

[2022-05-04 10:08] aantn commented on #222
@AvineshTripathi hope your exams went well!

The playbook action should take a PersistentVolumeEvent as input:
[code]

To trigger it you can just provide the volume's name though. Something like the cli command:

[code]

[2022-05-04 10:09] aantn commented on #222
@AvineshTripathi we have a new tutorial on writing playbooks actions that @Sheeproid wrote, so make sure you read that first:

https://docs.robusta.dev/master/tutorials/my-first-custom-action.html

[2022-05-04 11:59] #307 closed

[2022-05-04 12:03] Sheeproid commented on #307
@dennislapchenko , we finished the feature, [the docs](https://docs.robusta.dev/master/user-guide/configuration.html?highlight=git#loading-additional-playbooks) will be reflected to explain how to use it (the same as you proposed).

A new version will come out (probably by @arikalon1) soon with this feature included so stay tuned! :)

[2022-05-04 16:20] arikalon1 commented on #307
Hi @dennislapchenko , I think @Sheeproid tested it, and it works fine, but I'll let him answer that.

I think logging the key to the logs in debug mode is a security risk, so I would recommend not to do that.
We try not to print any secrets to the logs. (logs are often sent to external systems, and you wouldn't want sensitive information sent there)

[2022-05-07 06:14] AvineshTripathi commented on #222
When I am trying to upgrade helm after enabling PlaybooksPersistentVolume
[code]
p.s. In the docs it is mentioned `generated_values.yaml` but in repo I see values.yaml I think both are same but names are different

[2022-05-07 07:00] Sheeproid commented on #222
Hey @AvineshTripathi , the values.yaml is the defaults, and the generated_values.yaml is the overrides that you created when you ran "robusta gen-config" and used in helm install

You should use generated_values.yaml with helm upgrade  as well.

[2022-05-07 07:57] AvineshTripathi commented on #222
so to upgrade the helm I need to do gen-config first and then upgrade helm with flag value=generated_values.yaml

[2022-05-07 08:09] arikalon1 commented on #222
Hi @AvineshTripathi
After running `gen-config` for the first time, your `generated_values.yaml` is created.
That file contains your UI account id, and some configuration parameters.
You should save this file,  and use it later on when you need to upgrade Robusta.

You need to run `gen-config` only once, on the first time you install Robusta.

[2022-05-11 05:13] AvineshTripathi commented on #222
I am trying to upgrade helm but it throws an error `Error: failed to download "robusta/robusta"` is there anything I missing.

p.s. sorry for bugging again

[2022-05-11 06:41] RoiGlinik commented on #222
@AvineshTripathi , I reached you in the community channel. Lets solve it there?

[2022-05-15 15:53] pavangudiwada commented on #195
Seeing this just now. This PR https://github.com/robusta-dev/robusta/pull/289 resolves this issue.

[2022-05-15 17:15] aantn commented on #195
@pavangudiwada thanks, closing

[2022-05-15 17:15] #195 closed

[2022-05-18 15:47] pp185214 opened #328 "Possibility for usage nodeSelector"
Hi,

we are trying to use Robusta in our AKS cluster and thing is that we have two groups of machines, Linux and Windows. Will be possible to add option of usage nodeSelector in vaule file? https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#nodeselector

We can use Taints and Tolerations, but nodeSelector will be much more comfortable for us or for somebody who use Labels ins

[2022-05-20 10:16] dennislapchenko commented on #307
@arikalon1 @Sheeproid We are not sure this works, tried it out and it was
[code]

From the changes on the PR it seems that the `env.*` key parser doesnt handle multiline values well.
do you have a unit test for this?

[2022-05-22 06:16] mvkrishna86 opened #333 "Not able to install robusta in k8s cluster"
**Describe the bug**
- no token in generated-values.yaml
- helm install is giving error that k8s cluster not reachable.

**To Reproduce**
1. Tried to install robusta in my cluster using the steps in https://docs.robusta.dev/master/installation.html
2. below steps worked fine
  helm repo add robusta https://robusta-charts.storage.googleapis.com && helm repo update
  pip install -U robusta-cli --no-

[2022-05-22 06:36] Sheeproid commented on #307
Hey @dennislapchenko, maybe there is something I don't understand about the multiline issue - when I tried it out using an SSH key is was also multiline (like most SSH keys I guess) and it worked.

Can you try the following:

Instead of

`playbookRepos:
 my_extra_playbooks:
   url: "git@github.com:private/repo.git"
   key: "{{ env.GITHUB_SSH_KEY }}"`

do

`playbookRepos:
 my_extra_playbooks:
   ur

[2022-05-22 09:13] Avi-Robusta commented on #333
Hi, @mvkrishna86 I see you don't have the robusta_sink enabled in your configuration, is that the token you are missing?

[2022-05-22 10:05] mvkrishna86 commented on #333
I am running it on AWS EKS service. kubernetes version: 1.21+

[code]

[code]

[2022-05-22 10:19] Avi-Robusta commented on #333
As far as installation goes, it seems to be a helm issue with AWS.
Helm released version 'v3.9.0' 4 days ago and there have been reported bugs of the same error you had occurring on other clusters trying to install with helm.
https://github.com/helm/helm/issues/10975
One solution people tried was to downgrade to helm 3.8 and they were able to use helm on their AWS

[2022-05-22 10:31] mvkrishna86 commented on #333
Used helm version 3.7.2, and I am able to install it.
Thanks a lot @Avi-Robusta .

[2022-05-22 14:07] omfurman opened #334 "Silencing alerts in robusta config not working"
I went with the docs - https://docs.robusta.dev/master/catalog/actions/event-enrichment.html?highlight=silence
and added some alerts I would like to silence in the values.yaml of the installation like this:

[code]
It seemed to be working, but I'm getting alerts like this all the time:
![image](https://user-images.githubusercontent.com/90138173/169699166-85d11774-cdef-4bef-bf40-13249321ffb3.png)
A

[2022-05-22 14:22] Avi-Robusta commented on #334
Hey,
Can you run:
`robusta logs --namespace NAMESPACE_HERE | grep -in CPUThrottlingHigh`
Im expecting there to be some logs that say "silencing alert CPUThrottlingHigh"

[2022-05-22 14:27] omfurman commented on #334
Sure, its returning the following output:
[code]

[2022-05-22 14:31] Avi-Robusta commented on #334
Hey @omfurman  , can you quickly run `robusta playbooks edit-config`, look on active_playbooks (and customPlaybooks) section, and see if you can spot your customPlaybook in there, and where is it located in relation to the other playbooks?

I'm thinking maybe we have some ordering issue where your playbook is placed after the alert reporting playbooks

[2022-05-22 14:37] omfurman commented on #334
@Avi-Robusta Its located at the very end of the list and the config file, I can also see its after a CpuThrottling action:

[code]

[2022-05-22 14:51] Avi-Robusta commented on #334
@omfurman at the top of the config there will be a builtin playbook that looks like this
`  - actions:
    - name_silencer:
        names:
        - Watchdog
        - KubeSchedulerDown
        - KubeControllerManagerDown
        - InfoInhibitor
    triggers:
    - on_prometheus_alert: {}`
I would recommend adding your silencers to this list in the meantime.
We will come up with a solution on our

[2022-05-22 18:36] #328 closed

[2022-05-23 05:26] mvkrishna86 opened #335 "Provision to set memory and cpu limits for forwarder and runner"
Please add support to add memory and cpu limits and requests in the values.yaml. Otherwise they are getting killed with OOM frequently in our cluster. After every change, I had to manually edit the deployments and increase the memory.

[2022-05-23 05:57] mvkrishna86 commented on #335
Got it: `kubewatch.resources.requests.memory`

[2022-05-23 05:57] #335 closed

[2022-05-23 05:58] mvkrishna86 commented on #333
Got the deployment working, thanks @Avi-Robusta.

[2022-05-23 05:58] #333 closed

[2022-05-23 06:29] mvkrishna86 opened #336 "How to setup multiple sink's of same type (ms teams)"
I would like to setup multiple msteams sinks. For example, all crashloopback errors should go to one channel and all deployment changes should go to another channel.
Also, I am interested in only few namespaces, anything happens in ns1, ns2 are important for me, so would like to send notifications and take actions on them.

[2022-05-23 07:28] mmpfeffer opened #337 "SSO integration."
I would like Robusta.dev UI to be able to set up userid's through organizational SAML/SSO rather than only google.
This would enable companies to manage access through company user administration

[2022-05-23 07:45] Sheeproid commented on #337
Hey @mmpfeffer , thank you for your interest in Robusta.

About your suggestion, it is indeed an important issue and **it is in our roadmap**.
However, it will take some time and at the moment I don't have a specific date for it.

Don't hesitate to contact us for more suggestions are feedback.

[2022-05-23 08:17] aantn commented on #337
@mmpfeffer what is your SAML/SSO provider?

[2022-05-23 10:08] Sheeproid commented on #336
About your first question, I think this is possible, please take a look at the following and see if in answers your questions
1. https://docs.robusta.dev/master/catalog/sinks/index.html
2. https://docs.robusta.dev/master/user-guide/configuration.html#sink-matchers

About the  second issue, can you please open a different issue for that?

[2022-05-24 03:34] mvkrishna86 opened #340 "Add nodeSelector and affinity in values.yaml"
Please add affinity and nodeSelector in the values.yaml for both forwarder and runner. Now, after every change, I had to edit the deployment manually and add nodeSelector and affinity to get robusta pods scheduled on k8s.

[2022-05-24 06:16] Sheeproid commented on #340
Hey @mvkrishna86 , just to clarify, you tried to follow the instructions in the docs: https://docs.robusta.dev/master/user-guide/configuration.html#deploying-robusta-on-specific-nodes and it did not work?

Also, I see that we have a lot of discussions here, maybe you can join to [Robusta Slack Community](https://join.slack.com/t/robustacommunity/shared_invite/zt-18x24hrz4-1SQQCSa~AF9LgTYFwA6cag) a

[2022-05-24 07:39] Sheeproid commented on #340
nodeSelectors will be added on the next release of Robusta (0.9.12 and up)

[2022-05-24 08:24] Avi-Robusta commented on #334
Hi @omfurman,
We are pushing a fix now, it will be in the next robusta release.
https://github.com/robusta-dev/robusta/pull/342/files
Thanks for letting us know about this issue!

[2022-05-24 09:21] fferraro87 opened #343 "New Sink: Webex"
**Describe the solution you'd like**
In our company we're using webex instead of slack so it will be fantastic if robusta support sink also on webex for us

[2022-05-24 11:10] Sheeproid commented on #343
Hey @fferraro87 , this is a great idea and we will add it soon.
Do you have an example of another tool that you use in your company that you like their webex integration and why?

Also, Can I ask what types of messages are you interesting on sending there (alerts, crashing pods, etc)?

[2022-05-24 16:20] vmusaely opened #345 "Resolved Alert Handling"
I've pushed `kill_pod` action to robusta runner pod, when I'm getting crashed pod it works fine and deletes that pod, after that the new one is created. But it runs the action even on messages that say “[RESOLVED]”, and deletes new created healthy pod.

[2022-05-25 10:15] arikalon1 commented on #345
Hi @vmusaely ,

I think you can achieve what you need by filtering the alert trigger only on firing alerts (and not resolved)

Your playbook configuration in your `values.yaml` file should be:
[code]

Does that work for you?

[2022-05-27 12:06] mvkrishna86 opened #356 "Implement DB Health checks with scheduled triggers"
**Is your feature request related to a problem? Please describe.**
For the scheduled triggers, probably we can add the DB checks like, whether mongodb is reachable and execute a sample query with configured credentials. If its failed or taking more time, then send a notification.
Same goes with postgres, mysql, elasticsearch, kafka, etc.

[2022-05-28 06:42] pavangudiwada commented on #203
Each sink has its own page with details about it. https://docs.robusta.dev/master/catalog/sinks/index.html Is there anything else to add?

[2022-05-28 07:48] kranurag7 commented on #203
I think as of now everything is looking good. One improvement we can do is that we can add how to set up webhook URL for that particular sink.

[2022-05-28 08:06] aantn commented on #203
@pavangudiwada yeah I think we're good.

@kranurag7 do you mean for the MSTeams sink? For something else?

[2022-05-28 15:07] kranurag7 commented on #203
Yes @aantn I was talking about MS Teams webhook URL. Similarly, we can do
the same for other sinks as well, in which it's missing. In some of the
sinks we have mentioned it (like in case of telegram, we have mentioned how
to obtain the chat ID)

On Sat, 28 May 2022 at 13:36, Natan Yellin ***@***.***> wrote:

[2022-05-30 09:33] arikalon1 commented on #307
Hi @dennislapchenko ,

Were you able to configure the SSH key after all?
do you still need help with it?

[2022-06-03 04:46] #336 closed

[2022-06-06 19:22] gioppoluca opened #363 "New sink: email"
**Is your feature request related to a problem? Please describe.**
An email sink is an "evergreen" good for all needs.
Also it could be interesting to be able to have the option to get the mail to use from a namespace label
**Describe the solution you'd like**
Since we use namespaces to isolate projects we need to send emails to team mail
There should be the need to send the mail accordingly to th

[2022-06-07 12:57] aantn commented on #356
It's a cool idea - I like it.

Ideally we'd find an example that is annoying/impossible to do with liveness checks and/or Prometheus alerts.

Alternatively, we can take an existing Prometheus alert for something like this and add an enricher to make the alert more informative and actionable.

Any ideas?

[2022-06-08 07:22] ath88 opened #364 "Custom helm release name"
Currently, the robusta CLI expects the helm release to be called 'robusta'. We have a strict naming policy for helm charts. This means I can't use the `robusta auth gen-token`- and `robusta logs`-commands. They fail with the following errors:

[code]

[code]

The release name is used in the naming of the resources, which results in the CLI not being able to locate the resources, when a different r

[2022-06-08 09:46] dennislapchenko commented on #307
@arikalon1 hey! Initially i wasnt working so we just shoved a readonly key for the playbook repo. might give up on testing it out now :D

Another question tho is - how to correctly force robusta release to fetch new custom playbooks? only deleting the instance helps for now

[2022-06-08 12:45] arikalon1 commented on #307
@dennislapchenko How often would you like to reload it?
There are few possible solution I can think of.
Can you describe your workflow?
Like, you push a new playbook to the playbooks repo, and you'd like it to be updated on all runners within X minutes/hours?
Is it a different approach?

[2022-06-11 23:19] aantn commented on #203
I've added a Loom showing how to obtain the webhook on MS Teams.

https://docs.robusta.dev/master/catalog/sinks/ms-teams.html?highlight=ms%20teams#creating-a-webhook-url-in-ms-teams

I'm closing this for now, but if you have further ideas please open a new issue. Thanks everyone for the help.

[2022-06-11 23:19] #203 closed

[2022-06-13 07:07] Sheeproid commented on #307
Hey @dennislapchenko !

I'd like to get to know you further and see how can we assist you more with your K8s setup :)

Care to join our Slack community? [link](https://join.slack.com/t/robustacommunity/shared_invite/zt-18x24hrz4-1SQQCSa~AF9LgTYFwA6cag)

[2022-06-14 02:25] SohumB opened #376 "Silencing alerts in general"
I see that you can silence prometheus alerts in the documentation, but it'd be good to be able to silence alerts in general. For instance, in our usecase, the platform playbook that hooks into `on_kubernetes_warning_event_create` produces a few warning events that can get spammy and aren't relevant to us, like `TooManyPods` (as we're expecting node autoscalers to kick in if that ever becomes an is

[2022-06-15 20:09] anggutie-dev opened #382 "Add Job failure trigger"
Hello,

We started using Robusta.dev a couple of days ago and so far we love it, we are actively testing the python profiler and the monitoring + slack notifications.

Notifications/alerts work great with deployments, statefulsets, etc but unfortunately this is not the case for Jobs. We need to receive an alert as soon as a Job fails.

It would be great if you can include an "on_job_failure" trigg

[2022-06-15 20:13] arikalon1 commented on #382
Thank you for reporting this @anggutie-dev , and thank you for the kind words!

It sounds like a useful trigger.
We will try to prioritize and implement it shortly.

[2022-06-16 08:18] chetak123 commented on #258
Hey @aantn I'm interested in this issue but having some doubts in it:
1. I was observing [restart_loop_reporter](https://github.com/robusta-dev/robusta/blob/master/playbooks/robusta_playbooks/restart_loop_reporter.py) file but can't find `logs_enricher` in there.
2. Also I'm not able to find `alert_on_hpa_reached_limit` file or any python file related to hpa.

[2022-06-16 13:40] aantn commented on #258
@chetak123 yeah, the `logs_enricher` is indeed in a different file.

It would probably be easier to start with `alert_on_hpa_reached_limit` [over here](https://github.com/robusta-dev/robusta/blob/master/playbooks/robusta_playbooks/autoscaler.py#L49).

[2022-06-18 23:33] arikalon1 commented on #376
@SohumB , in order to change the behavior of the warning events playbook, you'll have to override the `platformPlaybooks` section in your `generated_values.yaml` file:
[code]

[2022-06-19 02:03] #376 closed

[2022-06-21 02:34] JustAnotherDevOps opened #393 "New Sink: stdout"
**Is your feature request related to a problem? Please describe.**
Previously I have used eventrouter to write the kubernetes event API logs out to stdout and then pick them up in another monitoring tool to trigger events. With eventrouter no longer being maintained and the comments thread on https://github.com/vmware-archive/eventrouter/issues/126. I came over to Robusta to find a maintained proj

[2022-06-21 04:56] bishal7679 opened #394 "Typos in README.md"
![Screenshot (145)](https://user-images.githubusercontent.com/70086051/174719251-3aab58db-0622-4bdd-89d3-1901c8d25fa0.png)

[2022-06-21 07:08] Sheeproid commented on #394
Hey @bishal7679 , thanks for flagging.

Is acknowledgements a typo?

[2022-06-21 07:22] bishal7679 commented on #394
@Sheeproid yes you are right. I said a/q outside american.

[2022-06-21 07:22] bishal7679 commented on #394
Thanks for helping

[2022-06-21 07:23] #394 closed

[2022-06-21 07:25] Sheeproid commented on #394
@bishal7679 Thanks for trying to help. It is most appreciated.

Can I help in anyway in the process of trying out Robusta? Do you have any feedback?

[2022-06-21 13:59] SamAlex0808 opened #395 "Debugger pod's doesn't have privileged RBAC permissions"
**Describe the bug**
The Debugger pods doesn't have privileged permissions which the robusta-runner has. It uses the default service Account. As debugger pods are an extension of the robusta runner and robsta-runner can delegate action to be run on debugger pods, its is required that they get similar privilege the robust-runner has

[2022-06-22 04:32] aantn commented on #393
Yes, it's a good idea.

Do you want to write all events or only specific ones? From stdout where are you sending them?

[2022-06-23 05:47] JustAnotherDevOps commented on #393
I'd say give the options for both to allow more configuration. For my use case I'd still look to use the triggers and actions in conjunction with the sink but set it `on_event_all_changes` to capture all of the event outputs.

There are quite a few monitoring systems which advise to set up eventrouter to stdout then scrape the logs. E.g. [Honeycomb.io](https://docs.honeycomb.io/getting-data-in/int

[2022-06-23 08:58] ath88 commented on #364
On a side note - some objects include the release name, while others don't:

[code]

This may or may not be intentional.

[2022-06-23 09:46] Sheeproid commented on #364
Thanks for providing more info.

[2022-06-23 15:05] Joda89 opened #399 "New Sink: Discord"
**Is your feature request related to a problem? Please describe.**
I woud like to use discord instead of slack.
I tried to use the webhook but it doesn't work

**Describe the solution you'd like**
it could be great to use discord like slack

[2022-06-23 16:41] arikalon1 commented on #399
Thank you for reporting this @Joda89

It's the second time today someone has asked for a Discord sink today.
We're going to implement it soon

[2022-06-23 17:29] SamAlex0808 opened #400 "A playbook action to create a Kubernetes Job"
**Scenario:**
There are cases when on an alert you want to create an Kubernetes Job which can perform some actions. At the moment we can tweak the node_bash_enricher to do so, But that requires the event to have node details available. However Prometheus alert expression with  aggregation operations will not necessarily do have those details sent as part of the alert.

We can write custom playbook

[2022-06-27 20:02] kitarp29 commented on #356
Hi @aantn I would love to take on this issue.
I think Prometheus alerts will be a good way to go in this.

[2022-06-28 05:01] aantn commented on #356
Cool, thank you! @mvkrishna86 is there a specific Prometheus alert that @kitarp29 can work on enriching via Robusta?

[2022-06-29 15:31] RoiGlinik commented on #364
@ath88 Hey I am working on a fix. I couldn't reproduce the issue `robusta auth gen-token` any chance it was another command?
https://github.com/robusta-dev/robusta/pull/404

[2022-06-30 06:04] ath88 commented on #364
`robusta auth gen-token` likely failed due to wrong namespace, but if the created resources are changed to include the release name, then it would again be an issue.

[2022-07-01 05:04] mvkrishna86 opened #405 "Need status filter for trigger: on_pod_update"
Now, its supporting only the name, namespace and labels as filters.
I would like to take some action based on the pod's status.
For example,
1. I want to delete the pod when its status is `Evicted`
2. I want to change the memory and cpu of the deployment when its status is OOMKilled

Basically the functionality will be same as on_crashloopbackoff, but a more generalized version of it

[2022-07-02 11:42] binaryfire opened #407 "Use in a normal Docker / bare metal environment?"
Hi guys

Is there a way to use Robusta in a normal Docker / bare metal environment? I couldn't find any info in the docs.

I have a traditional cluster that I'm monitoring with Prometheus which I'd love to use it for.

Cheers

[2022-07-02 11:47] arikalon1 commented on #405
Thanks @mvkrishna86

These sounds like useful triggers.
We'll prioritize it and add it to Robusta

[2022-07-02 12:26] arikalon1 commented on #407
Hi @binaryfire

Can you elaborate a little more about the environment you want to monitor, and how you would like to use Robusta with it?

[2022-07-02 12:49] binaryfire commented on #407
@arikalon1 Sure thing. Basically it's just a bunch of standalone bare metal machines running a variety of containers. There's no container orchestration. I'm monitoring everything with Prometheus / AlertManager.

Things like Slack integration, triggers like AlertManager, Scheduled, Webhook and Elasticsearch and actions like alert enrichment would be useful in any Prometheus monitoring scenario (no

[2022-07-02 13:14] arikalon1 commented on #407
Thanks @binaryfire

You're right, the Kubernetes integration is fairly deep.
Many of the alert enrichments relying on having the involved Kubernetes resource, which won't work in your scenario.

With some decent tweaking, I think you would be able to use Robusta, but I feel it won't be the ideal solution for you.

[2022-07-03 07:45] omfurman opened #411 "Robusta in kubernetes v1.23+"
**Describe the bug**
I am using GKE and it keeps on complaining about the deprecated api's. I have found the issue back to the robusta-forwarder pods which try to access a deprecated api:
```pkg/mod/k8s.io/client-go@v0.16.8/tools/cache/reflector.go:96: Failed to list *v1beta1.ClusterRole: the server could not find the requested resource```

**To Reproduce**
Steps to reproduce the behavior:
1. Go t

[2022-07-03 07:52] arikalon1 commented on #411
Hi @omfurman

Thank you for reporting this.
It will be fixed on the next Robusta release (in a week or so)

[2022-07-04 10:09] Avi-Robusta commented on #340
we added it to robusta (just didn't close it here yet)
https://docs.robusta.dev/master/user-guide/configuration.html?highlight=nodeselector#deploying-robusta-on-specific-nodes

[2022-07-04 10:09] #340 closed

[2022-07-04 13:15] #411 closed

[2022-07-04 13:16] arikalon1 commented on #411
will be included in 0.9.18

[2022-07-05 08:25] Avi-Robusta commented on #395
- [ ] TODO: test on kind

[2022-07-05 13:15] 12ushan opened #419 "Robusta k8s Scalability"
**Is your feature request related to a problem? Please describe.**
We would love to use robusta in our production environment as part of our alerting mechanism. our use case would be to use robusta to kill a pod on the back of an alert. This would save the on call engineer having to receive a pager and manually perform this. However, as the runner/forwarder aren't scalable without duplicate notifi

[2022-07-05 13:33] arikalon1 commented on #419
Thank you for reporting it @12ushan

Supporting high availability is in our roadmap.
We will try to prioritize it

[2022-07-05 15:57] #407 closed

[2022-07-06 02:15] azizonick opened #421 "without promethues"
hi, can i configure robusta to alert me about changes in k8s without protmetheus, if yes how?

[2022-07-06 06:04] alikhanxgrid commented on #421
Hi @azizonick  when you run robusta gen-config, Robusta will ask you if you want to setup prometheus stack like this,

Simply answer "N" and Robusta will not setup Prometheus and will send you alert regarding changes in your k8s cluster.

[2022-07-06 06:37] RoiGlinik commented on #421
Great answer @alikhanxgrid ,
@azizonick  in the case you already generated the generated_values.yaml file, using gen-config.
You can edit the field , enablePrometheusStack to false and reinstall robusta

[2022-07-06 06:56] arikalon1 commented on #421
As written above, by default, changes are sent to the Robusta UI, if you're using it.
You can also configure Robusta to send notification on changes to other destinations, like Slack, MSTeams etc. (We call it `sinks`)

@azizonick Can you elaborate a little more about which changes you would like to see, and how would you prefer to consume it?

[2022-07-06 10:07] azizonick commented on #421
sure guys, i ve installed robusta on my cluster, so out of the box it show only "crashloopbackoff" errors, and i want to configure it to show others such as deleted created pods cpu and so on, this is question i am asking

[2022-07-06 10:49] alikhanxgrid commented on #421
@azizonick
Robusta works on three main components Triggers, Actions and Sinks. Triggers run your actions when an event happens on your kubernetes cluster and sinks are where you want to get notified about your changes. You can set up your custom playbooks to get notified of changes you want when you update delete or create something in your cluster. Check out [https://docs.robusta.dev/master/catal

[2022-07-10 09:01] RoiGlinik commented on #421
@azizonick , is there anything else regarding this issue?

[2022-07-10 18:38] #400 closed

[2022-07-11 09:12] gioppoluca commented on #363
Any news on this issue, can you share a milestone for having the email sink?

[2022-07-11 11:52] Sheeproid commented on #363
Hey @gioppoluca! We got several requests for sinks lately, and they are in the works. We're considering using an open-source library called [Apprise](https://github.com/caronc/apprise), or implementing it ourselves.

It will still might take some time. Can we help with a workaround meanwhile?

[2022-07-11 12:49] #364 closed

[2022-07-12 05:13] Mshahidtaj opened #428 "New Sink: Mattermost"
**Is your feature request related to a problem? Please describe.**
During my test spike, i found its hard to configure sink (via webhook) for Mattermost app (Mattermost is an open source tool for team messaging, task and project management, and workflow orchestration.)

**Describe the solution you'd like**
An additional sink destination for Mattermost , similar to the MS teams, Slack etc

**Descri

[2022-07-13 13:55] ath88 opened #430 "Authentication via Keycloak"
Please make it possible for us to authenticate via our self hosted Keycloak. :)

[2022-07-14 08:55] arikalon1 commented on #428
Thanks for reporting it @Mshahidtaj

We're working on adding Mattermost sink.

I'm closing this issue as duplicate of #263

[2022-07-14 10:56] RoiGlinik commented on #260
@arikalon1 I think you have already done it ? can you close this?

[2022-07-15 10:17] arikalon1 commented on #260
@RoiGlinik yes, closing

[2022-07-15 10:17] #260 closed

[2022-07-18 07:18] Avi-Robusta commented on #395
merged

[2022-07-18 07:18] #395 closed

[2022-07-18 07:50] Sheeproid commented on #430
Hey @ath88 . Since Keycloak is a self hosted solution, it can only be used in self hosted environment hence cannot be connected to the Robusta SaaS.

[2022-07-18 07:50] #430 closed

[2022-07-18 21:58] ath88 commented on #430
I believe your conclusion is wrong. Sure it's not an easy fix, but allowing organizations to specify their own OpenID Connect Identity Provider should indeed be possible.

How did you get to your conclusion that it cannot be done? :)

[2022-07-19 05:32] Sheeproid commented on #430
Hey @ath88 , sure, I'll explain.

Robusta UI authentication is based on Supabase.

After reading the instructions here:
https://supabase.com/docs/guides/auth/auth-keycloak#add-login-code-to-your-client-app

And checking out the Authentication providers page, and opening Keycloak:
![Screen Shot 2022-07-19 at 8 27 58](https://user-images.githubusercontent.com/679727/179672125-0e501f29-6099-4175-82d3

[2022-07-19 21:47] ath88 commented on #430
I understand the issue, but I still insist that it has nothing to do with Keycloak being self hosted, but rather a technical limitation of Supabase. :)

I'll be opening an issue with gotrue to try and make it possible to configure multiple Identity Providers of the same type. Once that is possible, it'll be possible to allow to authenticate against your clients identity providers.

[2022-07-20 11:57] m0sh1x2 opened #437 "Is there a way to specify the Slack Instance URL in order to use a different compatible endpoint like Mattermost?"
I am trying to find a way to set up an endpoint_url for the Slack Sink that might work with any compatible endoints like Mattermost:

[code]

There is a similar integration with Grafana alerts https://docs.mattermost.com/scale/performance-alerting.html#mattermost-performance-alerting-guide that I am using but unfortunately I do not understand Python and won't be able to contribute unless I try for

[2022-07-20 19:59] VladoPortos commented on #278
Same, was going to give a Robusta try, but my cluster is ARM64, could not get it to run :(

[code]

[2022-07-21 13:10] alikhanxgrid opened #438 "Using alert fields in alert_handling_job"
**Is your feature request related to a problem? Please describe.**
When running jobs on prometheus triggers user should be able to use alert fields in generated-values.yaml file in job command. Also user should be able to setup their own environment variables for job.

**Describe the solution you'd like**
Instead of providing the alert params to job directly. What we can do is provide the alert pa

[2022-07-22 10:09] alikhanxgrid opened #439 "HPA scale callback function name and namespace missing"
**Describe the bug**
When a user receives a notification on slack to scale max replicas of an HPA and the user clicks on the button triggering the callback function, the max replicas of HPA is not increased instead an error is shown in robusta logs that name and namespace is missing.

**To Reproduce**
Steps to reproduce the behavior:

1. Set up a cluster using kind. You can simply run _"kind creat

[2022-07-24 07:28] Sheeproid commented on #439
Hey @alikhanxgrid, thanks for reporting, we found the issue and working on a fix. (cc @arikalon1 )

[2022-07-24 10:50] arikalon1 commented on #382
@anggutie-dev , this was merged to 0.10.0

[2022-07-24 10:50] #382 closed

[2022-07-24 10:57] #439 closed

[2022-07-26 06:57] m0sh1x2 commented on #428
Hello, Quick update on possible future-feature compatibility - the Mattermost Webhooks are Slack compatible which means that any setup that works with Slack Webhooks should work with Mattermost webhooks.

Source - [Mattermost incoming webhooks are Slack-compatible.](https://docs.mattermost.com/developer/webhooks-incoming.html#:~:text=Mattermost%20incoming%20webhooks%20are%20Slack%2Dcompatible.%20Y

[2022-07-26 07:05] arikalon1 commented on #428
Thanks for the information @m0sh1x2
That makes the Mattermost sink a lot easier to build

[2022-07-30 09:38] RomitMehta commented on #225
Badly in need :)

[2022-07-30 09:41] aantn commented on #225
Hey @RomitMehta,
What tools or workarounds are you using today, if any?

Do you have any interest in trying to add the feature yourself? We can help you out if so

[2022-07-30 19:20] harshitasao opened #455 "Fix the documentation's typo."
For proper grammar, the word `you` should be changed to `your` in the pyproject.toml code block comment on the [Custom playbook repository page.](https://docs.robusta.dev/master/developer-guide/actions/playbook-repositories.html#creating-your-own-playbook-repository)

[2022-07-31 14:11] aantn commented on #455
Thanks, opened a PR to fix.

[2022-08-01 04:26] RomitMehta commented on #225
Hi @aantn,
Yes, as of now we use [dotnet monitor](https://devblogs.microsoft.com/dotnet/introducing-dotnet-monitor/) to get the trace file and dump for diagnostics.
I do have a interest in developing it along with my colleague @jaya-rama

[2022-08-01 10:23] aantn commented on #225
That would be great. How can we help you get started?

[2022-08-01 15:05] #455 closed

[2022-08-01 15:06] aantn commented on #225
@RomitMehta and @jaya-rama would you like to do this as part of the Rawkode month-long hackdays?

https://github.com/RawkodeAcademy/hackdays/issues/6

[2022-08-02 12:14] kayahk opened #463 "Jira integration"
**Is your feature request related to a problem? Please describe.**
We want to automate the creation of issues in Jira from specific alerts, in our current use case, these are alerts based on image scan results in ECR.

**Describe the solution you'd like**
Each alert has a unique `digest` field that could trigger and limit the issue creation at the same time. Maybe even a combination of different f

[2022-08-02 12:19] arikalon1 commented on #463
Thank you for reporting it @kayahk
Sounds like a useful action.

We'll prioritize and implement it

[2022-08-06 20:03] aantn commented on #399
Hi all, @anFatum has been working on this and we'll be merging it soon.

If you're interested in using it, please provide us with feedback and let us know what you think!

https://github.com/robusta-dev/robusta/pull/460

[2022-08-07 17:13] #421 closed

[2022-08-07 17:18] aantn commented on #300
@acrogenesis can we close this? Did that address your issue?

[2022-08-07 17:21] aantn opened #474 "Add trigger for deployment updates where an image changes"
On Slack, @mitin20 asked for the ability to trigger an action when a deployment is updated and the pod's image changes

We might be able to implement this the same way as https://github.com/robusta-dev/robusta/issues/405

[2022-08-07 17:23] aantn opened #475 "Add action to do http check"
@mitin20 requested this on Slack. (See [here](https://robustacommunity.slack.com/archives/C02R0LSAHNJ/p1659446720825649))

Is this do-able with the existing job-runner and curl? Should we have a native action for this?

Ideally we would have an option to only create the finding if the http check failed.

[2022-08-07 20:29] #300 closed

[2022-08-07 20:29] acrogenesis commented on #300
Yes, thanks!

[2022-08-08 10:22] ShiroDN opened #477 "New Sink: Rocket.Chat"
**Is your feature request related to a problem? Please describe.**
It would be great to have Rocket.Chat sink. Rocket.Chat is an open source alternative to Slack.

**Describe the solution you'd like**
Rocket.Chat has slack compatible webhooks, so it should be similar to it.

**Additional context**
https://rocket.chat/

[2022-08-08 20:03] aantn commented on #477
Sounds good, thank you for opening this.

Especially appreciate the comment on Slack-compatible webhooks. That will make implementation much easier. (We're doing something similar for Mattermost very soon.)

[2022-08-09 01:14] zestrells opened #478 "Robusta Fedramp compliant"
**Is your feature request related to a problem?**
Hi All, we are implementing Robusta into our K8s production environments and we have one big question. Is Robusta Fedramp complaint ?

**Describe the solution you'd like**
Ideally, we would be able to leverage Robusta OSS in our Fedramp environment with the Slack and maybe Opsgenie integration.

**Describe alternatives you've considered**
The only

[2022-08-10 17:14] aantn commented on #478
Hi @zestrells,
We're not FedRamp compliant at present.

Note that it's possible to deploy all of Robusta's components in your own cloud (even the UI) and there are companies using it today in airgapped environments.

If we can help with the regulatory requirements in any way, please email me at natan@robusta.dev and we can schedule a call to discuss

[2022-08-15 09:18] arikalon1 commented on #399
Hi @Joda89
The Discord sink was released as part of version 0.10.1

Any feedback is most welcome

[2022-08-15 09:18] #399 closed

[2022-08-17 10:19] arikalon1 commented on #220
@aantn Can we close it, since we implemented the alert silencing? Or you had something else in mind here

[2022-08-17 10:21] aantn commented on #220
@arikalon1 closing, that was exactly what I had in mind and we've implemented it now.

[2022-08-17 10:21] #220 closed

[2022-08-17 15:25] Joda89 commented on #399
Hi @arikalon1
it works well thank you so much for this function.

Cordially

[2022-08-18 09:23] alikhanxgrid commented on #475
What kind of event should this action take? I have read the conversation and only saw talk about deployments.
I suppose it would only take a DeploymentEvent as a parameter ? @aantn

[2022-08-18 10:46] aantn commented on #475
@alikhanxgrid yes, that sounds like the right solution!

[2022-08-19 12:59] aantn commented on #345
@arikalon1 Did we change the behaviour on this so that `on_prometheus_alert` only fires on triggered alerts by default?

If so, we can close this.

[2022-08-19 12:59] aantn commented on #262
@mershal did we fix this?

[2022-08-19 14:04] arikalon1 commented on #345
Yes, we did.
`on_prometheus_alert` is triggered, by default, only for `firing` alerts.
Closing it

[2022-08-19 14:04] #345 closed, assigned to nobody

[2022-08-23 01:08] d3v2null commented on #278
Unfortunately lack of multi-arch with arm64 support is not what I expected.
This is a blocker for adopting Robusta in our EKS clusters.

[2022-08-23 06:02] arikalon1 commented on #278
@anFatum started working on it

[2022-08-23 06:49] taivo123 opened #489 "New Sink: PagerDuty"
**Is your feature request related to a problem?**
It would be great to have PagerDuty sink. PagerDuty is an alternative to VictorOps and OpsGenie.

**Additional context**
https://www.pagerduty.com/docs/guides/prometheus-integration-guide/

[2022-08-23 07:57] arikalon1 commented on #489
Thanks for reporting it @taivo123

We're doing a lot of work around the sinks, and we'll add PagerDuty as well

[2022-08-24 04:46] taivo123 commented on #489
Nice @arikalon1, can you ballpark timescale, are we talking weeks, a few months or a year?

[2022-08-24 10:35] kayahk opened #491 "sticky filter for cluster/namespace/event type"
We love working with Robusta on a daily basis while managing multiple clusters. One pain point that we have when using the UI, though, is that we constantly have to narrow down and focus the context by only selecting the clusters/namespaces we are currently interested in.
In our case, when we want to analyse or troubleshoot something, this is usually (>90% of the time) limited to one cluster and/o

[2022-08-24 10:41] kayahk commented on #491
While thinking about it and using the filters, I figured it would also be great to have another field for the Timeline to filter out the [RESOLVED] events from being listed and only display events that currently don't have the `RESOLVED` status.

[2022-08-24 10:44] Noamstrauss commented on #491
We would like this feature as well.

[2022-08-24 10:46] Noamstrauss commented on #463
This feature will benefit us as well.

[2022-08-24 11:08] arikalon1 commented on #491
Thanks for reporting it @kayahk and @Noamstrauss
We're going to implement the parameters presets in the UI.

For now, as a workaround, you can save the URL of a specific filter selection. The parameters are part of the URL, so it can make it easier to access previous filter selection.

Regarding the RESOLVED status filtering, it's on our roadmap as well

[2022-08-24 12:03] Benjamin-volk commented on #491
I agree with @kayahk as well, hopefully, this will be implemented soon :)

[2022-08-24 21:17] null-talisman opened #492 "Deploy Robusta UI Locally"
**Is your feature request related to a problem?**
Please describe a clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I'm working on a Robusta POC and I'm wondering if there are any plans to make the UI available to deploy locally. This would make it much easier to adopt.

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-08-24 21:56] arikalon1 commented on #492
Hi @null-talisman
We do have a self-hosted option for the Robusta saas components (including the UI)

You can find more details about the different options here: https://docs.robusta.dev/master/oss-vs-saas.html

If you need more details feel free to reach out on our community slack channel (there's a join link on https://home.robusta.dev)

[2022-08-24 22:08] #492 closed, assigned to nobody

[2022-08-26 09:44] kayahk opened #496 "regex for alert silencer in web ui inverts expression"
**Describe the bug**
When adding a new silence record with a regex match like `.+` the silence created in alertmanager is ending up like this `alertname!~".+"` which does not catch any alert at all.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Silences'
2. Click on '+ New Silence'
3. Enter any value for field `Matcher`, like 'alertname' and add value for `Matches regex`like this: `

[2022-08-27 16:42] arikalon1 opened #497 "Move Sinks configuration to Kubernetes CRDs"
**Background:**
In Robusta, Sinks are destinations we send data collected by Robusta to.
Slack, MsTeams, and many others are all Sinks.
Each Sink has a set of configuration attributes, like api key, channel etc, depending on the Sink implementation.

Today, the Sinks configuration is defined in a helm values file, which is deployed on the cluster in a Kubernetes ConfigMap.
This ConfigMap is mounte

[2022-08-30 13:16] SharmaSid00 opened #504 "Integration using Webhook provided by Slack"
**Is your feature request related to a problem?**
As we integrate robusta in our slack, it ask permission for full slack workspace, however it is not possible to provide full slack workspace in a company.
**Describe the solution you'd like**
Enable addition of webhook url provided by slack itself - unique for each channel

[2022-08-31 10:05] aantn commented on #504
Hi, can you elaborate on the restrictions you have adding the Slack app?

We’ve tried to make the Slack permissions super minimal. E.g. we don’t ask for read access to messages in your workspace. Is there a specific permission there which is problematic?

That said, we’re definitely open to a PR adding support for this. You can see an [example PR](https://github.com/robusta-dev/robusta/pull/445/fi

[2022-08-31 16:11] adecchi-2inno opened #510 "Adding templating to the customise_finding"
**Describe the bug**
Adding templating to the **customise_finding**, at the moment when you use **resource_babysitter** many  fields are lost, and it is not possible to identify what application triggered it.

**To Reproduce**
Steps to reproduce the behavior:

`

- triggers:
    - on_deployment_update: {}
  actions:
    - resource_babysitter:
        omitted_fields: []
        fields_to_monitor: [

[2022-09-01 09:16] arikalon1 commented on #510
Thanks for reporting it @adecchi-2inno
We'll fix it shortly

[2022-09-01 15:16] aantn commented on #428
Released!

Please provide feedback and let us know once you start using it.

[2022-09-01 15:16] #428 closed

[2022-09-01 15:16] aantn commented on #263
Released!

Please provide feedback and let us know once you start using it.

[2022-09-01 18:39] gioppoluca commented on #497
Also we need to have the sink to be different for each namespace since usually namespace is the delimiting space for a team and we need each sink represent different places.

[2022-09-06 02:31] taivo123 opened #517 "Some alerts or alert types are missing fingerprint"
**Describe the bug**
Some alerts or alert types are missing fingerprint.
It is possible, that KUBERNETES_API_SERVER sourced alarms are missing the fingerprint, but PROMETHEUS sourced alarms have it
Some examples with missing fingerprint:
- Crashing pod
- Updates to significant fields
- `robusta playbooks trigger prometheus_alert`

**To Reproduce**
Steps to reproduce the behavior:
1. generate _Upda

[2022-09-06 08:29] wahajXgrid commented on #217
hey team, I am working on this issue.

[2022-09-07 22:34] prestonr83 opened #525 "Opsgenie Integration does not handle alert creation and resolution properly"
**Describe the bug**
The `alias` in opsgenie is used for deduplication and for reference for closure. However the sink is configured to just send the `finding.title`.
https://github.com/robusta-dev/robusta/blob/5a6c73ddd3c0933df4258eef9c976a939051bb50/src/robusta/core/sinks/opsgenie/opsgenie_sink.py#L44

This causes 2 problems

1.  Alerts from different clusters with the same title will be dedupli

[2022-09-08 09:55] #510 closed

[2022-09-09 23:04] aantn commented on #517
I wonder if we should be including the cluster name in the hash too. #525 implies that the cluster name needs to be included in the hash for OpsGenie.

[2022-09-09 23:07] aantn commented on #525
Hi, thank you for reporting. We should definitely fix this.

In the PagerDuty sink we're using Finding.fingerprint which is a hash on the alert name and its labels. I also opened a PR (#528) to fix this for Findings other than AlertManager alerts.

Do you have any interest in attempting to fix this yourself and opening a PR?

You can see the code we use in OpsGenie here:

https://github.com/robust

[2022-09-10 11:01] #517 closed

[2022-09-11 07:24] RoiGlinik commented on #496
@kayahk , Did you get a chance to look at the fix?

[2022-09-11 09:21] kayahk commented on #496
@RoiGlinik yes, looks good now, thank you very much.

[2022-09-11 09:21] #496 closed

[2022-09-12 10:57] alikhanxgrid commented on #343
Working on this issue

[2022-09-13 00:02] prestonr83 commented on #525
I'll give it a shot if I have some time.

[2022-09-13 08:08] aantn commented on #525
@prestonr83 Cool, our team is available on Slack if you have any questions about building Robusta and/or fixing this.

Happy to help in any way we can.

[2022-09-13 08:29] aantn commented on #223
Yep, exactly! Which cloud provider were you thinking of working on?

[2022-09-13 08:52] wahajXgrid commented on #223
Google Cloud

[2022-09-13 12:42] anFatum commented on #278
It was resolved in #508 PR and released in 0.10.4.

Please provide feedback and let us know once you start using it!

[2022-09-13 12:42] #278 closed

[2022-09-13 15:42] Sheeproid commented on #489
The honor is yours :)

[2022-09-13 16:06] #263 closed

[2022-09-14 08:36] #489 closed

[2022-09-18 12:08] arikalon1 commented on #219
@wahajXgrid , I Just created a PR for that yesterday

[2022-09-18 12:08] arikalon1 commented on #219
I created 2 separate actions

[2022-09-18 12:51] Sheeproid opened #548 "Easy way to develop and test custom actions"
**Is your feature request related to a problem?**
Learning how to write playbooks and debugging them is a bit tricky, as you need to create an entire pip package folder structure just for a quick test.

Making a quicker way to test playbooks can help with learning on how to write actions & prototyping.

**Describe the solution you'd like**

Add the following:

1. Add a new endpoint in Robusta runn

[2022-09-18 13:44] Sheeproid opened #549 "Dmesg enricher (action)"
**Is your feature request related to a problem?**
Getting Dmesg is helpful for debugging problems on the nodes some cases, but is not always covered in the other log collections mechanism in Robusta.
Also, some people are not aware dmesg so implementing this action will be a nice teaching tool!

**Describe the solution you'd like**
A Dmesg enricher to get the Dmesg from a specific pod's **node**.

[2022-09-18 14:38] wahajXgrid commented on #549
What type of event this action would be triggering on ? Do you want to trigger this action on a NodeEvent or a PodEvent? just making things clear.

[2022-09-18 14:45] Sheeproid opened #551 "Restart job on OOM kill and give it higher memory limits (and request)"
**Is your feature request related to a problem?**
When a job fails because of OOM error, sometimes the solution is to restart it with higher memory limits/requests.

**Describe the solution you'd like**
Create an action in robusta that restarts a job and increasing it's memory requests/limits.

Some considerations:

- To prevent an infinite loop of job's pod crashing and getting more memory, some

[2022-09-18 14:50] Sheeproid commented on #549
Hey @wahajXgrid . It should work on both. In case of a PodEvent, the node's identity(name, etc..) should be extracted from the pod.

[2022-09-18 17:07] #219 closed

[2022-09-19 12:58] #525 closed

[2022-09-19 13:00] Sheeproid opened #553 "Explain TargetDown alerts related to coredns and kubedns"
**Is your feature request related to a problem?**
kube-prometheus-stack that is being used by Robusta, monitors **coreDns** service by default.
(**[coreDns](https://coredns.io/)** is a service that handles dns on the cluster.)

However, on some Kubernetes distributions (e.g [GKE](https://cloud.google.com/kubernetes-engine)) **kubeDns** is used intstead of **coreDns**.
In that case, Robusta will fi

[2022-09-19 22:58] IdeoG opened #554 "How to turn off `on_kubernetes_any_resource_all_changes` trigger that sends messages to telegram in every pod creation."
subj, i found it was declared in ConfigLoader as internal trigger.

Notifications on every pod creation/deletion is redudant in our logic, or we just want to separate telegram alerts for release notifications and alerts. it would be helpful to do that.

[2022-09-19 23:07] arikalon1 commented on #554
Thank you for reporting this @IdeoG

Do you have any `customPlaybooks` configured?
If so, can you please share your `customPlaybooks` section ? (Please make sure not to share any sensitive value)

[2022-09-19 23:41] IdeoG commented on #554
[code]

so, it's a part of my `values.yaml` config file.

[2022-09-20 07:52] IdeoG commented on #554
Oh, i see, suddenly, i used `trainers.values.yaml` filename, so i renamed it to `values.yaml` and hope it will help. Thank you!

[2022-09-20 08:41] IdeoG commented on #554
Hmm, it didn't work. Pod created/deleted events are coming to my tg group. Is there any ideas

[2022-09-20 08:42] arikalon1 commented on #554
Can you please share your `generated_values.yaml` file (without the sensitive values, if there are any)

[2022-09-20 08:45] IdeoG commented on #554
[code]

[2022-09-20 09:01] arikalon1 commented on #554
Can you explain when you'd like to get a notification on `telegram`?
For example, when a `deployment` is created, or when a `statefulset` is changed?

[2022-09-20 13:05] IdeoG commented on #554
Sure! My use cases:
1. Deployment update was started and finished
2. Deployment was created and creation was successful
3. Any k8s object warnings from namespace
4. Pod errors, such as OomKiller, Loopbackoff

Thank you for your help!

[2022-09-20 13:31] arikalon1 commented on #554
Thank you

In general, when adding new playbooks, you should use the `customPlaybooks` value, and not the `builtinPlaybooks`

Specifically, regarding your use cases:
1. Deployment update
[code]
This will send a change event, whenever the deployment spec change.

2. Deployment creation
[code]

3. k8s warnings from namespace
This might be too spammy, but if you do want it, this is the playbook you n

[2022-09-23 08:13] Ph3nol opened #556 "New Sink: PushOver"

[2022-09-23 16:25] arikalon1 commented on #556
Thank you for reporting it @Ph3nol

Can you describe a little the need to get the notifications on PushOver?

Can Telegram sink be useful to you?
https://docs.robusta.dev/master/catalog/sinks/telegram.html#telegram

We also used the Webhook sink and ntfy.sh to push notifications
https://docs.robusta.dev/master/catalog/sinks/webhook.html#webhook

[2022-09-27 11:39] wahajXgrid commented on #551
I just wanted to know, Will the Max parameter takes max limit memory or max request memory?

[2022-09-28 06:51] arikalon1 commented on #551
I think it should be `request`. Max mem/cpu `request`
For cpu, we recommend using only `request`, and for memory we recommend `request`=`limit`
So I think `request` will be the right parameter

[2022-09-28 08:35] alikhanxgrid commented on #299
@aantn
Hi, I would like to start working on this issue.
Would need some guidance of course.
Sent you message on slack

[2022-10-04 14:38] alikhanxgrid commented on #405
can I work on this issue ?

[2022-10-06 15:21] nice-pink opened #564 "Trigger: on_kubernetes_resource_X support for crds"
**Is your feature request related to a problem?**
We are using argo-rollouts instead of deployments. To support create/delete/update detection for the Rollouts it would be nice to have an e.g. `on_kubernetes_resource_create` trigger where the `kind` and `apiVersion` could be defined. This way the trigger would not be limited to argo rollouts but to any crds.

**Describe the solution you'd like**
A

[2022-10-08 19:43] autotune opened #566 "playbookRepos should support a path option"
**Is your feature request related to a problem?**
Currently https://docs.robusta.dev/master/user-guide/additional-playbooks.html#loading-additional-playbooks seems to expect a separate repo for robusta playbooks. This breaks the mono repo approach several companies implement with their codebase, including companies like Google.

**Describe the solution you'd like**
A path option should be added so

[2022-10-08 20:31] aantn commented on #564
Hey, thanks for reporting.

It's a good idea and something we'd like to support.

That said, we don't have a specific ETA yet. We're working on some other stuff first.

If you'd be interested in contributing a PR for this, please let us know and we'll help point you in the right way.

[2022-10-08 20:49] nice-pink commented on #564
Sounds good. Would be happy to work on it when finding the time. Any suggestions appreciated.

[2022-10-09 01:11] nice-pink commented on #564
Sounds good. Would be happy to work on it when finding the time. Any suggestions appreciated.

[2022-10-09 12:51] aantn commented on #564
Cool, thanks. What's your level of experience with go and/or python?

[2022-10-10 12:43] sachinvasle99 opened #568 "If possible, can i send the notification on email?"
**Is your feature request related to a problem?**
Please describe a clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Add

[2022-10-11 07:32] alikhanxgrid commented on #568
@arikalon1 i will try to add it

[2022-10-11 07:32] alikhanxgrid commented on #363
working on this issue

[2022-10-12 23:17] polandj opened #571 "PagerDuty: invalid routing key"
**Describe the bug**
When trying to use the pagerDuty sink, it complains about an "invalid routing key".

**To Reproduce**
Steps to reproduce the behavior:
1. Setup pager duty sink in generated values yaml.
2. Generate issue with a crashing pod.
3. Invalid Routing key error appears in log of robusta-runner pod.
4. Nothing appears in pagerduty

**Expected behavior**
An export to pagerduty.

**Kuber

[2022-10-13 21:37] polandj commented on #571
Totally works as described in video.  Thanks!

[2022-10-13 21:37] #571 closed

[2022-10-13 21:47] aantn commented on #571
@polandj glad to hear it! (I'm the guy in the video.)

If you have any other questions, feel free to reach out. We're also available on [Slack](https://bit.ly/robusta-slack).

[2022-11-02 14:35] aantn commented on #491
Hey all, we've added presets to the UI. Does the current implementation work for your needs?

[2022-11-03 00:19] woot3d opened #583 "Runner image not available !"
**Describe the bug**
Im deploying robusta from the provided chart but looks like the runner image is not available anymore, i tried even to pull it separately and i got same result .

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'helm folder '
2. Click on 'values.yaml'
3. try to download the runner image (us-central1-docker.pkg.dev/genuine-flight-317411/devel/robusta-runner:0.0.0)
4.

[2022-11-03 00:29] aantn commented on #583
Hey, can you try downloading the helm chart as follows:

[code]

That should create a file named something like `robusta-0.10.6.tgz`.

The values file in GitHub is modified during our build process, so the image tag has 0.0.0 placeholder. Sorry about the confusion!

Note that we have full installation instructions in the [docs](https://docs.robusta.dev/master/installation.html) which also cover ge

[2022-11-03 14:48] woot3d commented on #583
Hey @aantn

Thanks for the prompt response, much appreciated i really want to discover more that tool as i believe that its a great addition to k8s world and that could be a game changer for k8s SRE teams .

So i followed your instruction and tried to install it but i had this error ,i double checked the values.yaml and the annotation block is emtpy so not really sure about the installation logic

[2022-11-03 15:32] arikalon1 commented on #583
Hi @woot3d

I assumed you pulled our helm repo locally.
What was the command you ran, that generated that error?

[2022-11-03 15:57] woot3d commented on #583
Yea, i tried to install it , here are details :

[code]

thanks @arikalon1 , Hope that can help, !

[2022-11-03 16:02] arikalon1 commented on #583
Regarding that values.yaml file, is it the file found in the chart directory?

Did you use the robusta cli `gen-config` command, to create your `generated_values.yaml` file?

Regardless, you can join our community slack channel, we're available there as well.
You can find the join link on: https://home.robusta.dev/slack

[2022-11-03 16:53] woot3d commented on #583
Thanks @arikalon1 , but i tried both values , the default one as well as a simple one that have the minimum that i generated with `gen-config`

here is my generated-values file

[code]

let me know if i'm missing anything here .

Thanks

[2022-11-03 17:32] arikalon1 commented on #583
Got it.

You should use the `generated_values.yaml` file.

You need to have at least one `sink`, otherwise the result aren't sent anywhere.
I recommend using the Robusta UI sink, or the Slack sink (specify that when running the `gen-config` command)

Once you created the `generated_values.yaml` file, with at least one sink, I would try installing using the helm repo (no need to download a copy of

[2022-11-08 20:39] gurpalw opened #589 "Readme links to multiple 404 pages."
**Describe the bug**
[Kubernetes monitoring - prebuilt Prometheus integration that enriches alerts with extra context and graphs](https://home.robusta.dev/prometheus-based-monitoring/?from=github)
Event-triggered automations for Kubernetes (like Argo Events) with an emphasis on simplicity
Auto-remediations - out of the box fixes for common alerts. Write your own in Python.
[Change tracking - track

[2022-11-08 21:00] aantn commented on #589
Thank you for reporting! Fixed those two links.

@pavangudiwada will do a more thorough analysis to see if we missed any other links. In the meantime, if you find anything else please let us know!

[2022-11-18 18:20] bear-redhat opened #601 "Support `--context` and `--as`"
**Is your feature request related to a problem?**
We are managing multiple clusters, and all of them are using sudo to run privileged operations. Currently, the CLI does not support switching cluster and switching users. The former one makes our lives harder and the second issue actually rendered many subcommands of the CLI useless (since it cannot execute privileged operations).

**Describe the s

[2022-11-21 17:30] jmbonacchi opened #608 "Opsgenie Sink EU Region"
**Is your feature request related to a problem?**
I can't find a way to change opsgenie's host to use the European region instead of the US one.
https://github.com/robusta-dev/robusta/blob/master/src/robusta/core/sinks/opsgenie/opsgenie_sink_params.py

**Describe the solution you'd like**
Adding the host parameter in the sink configuration, so that if I don't want to use the US region I can change

[2022-11-23 07:37] achu3397 opened #609 "First login with generic email account, not only with google and azure"
**Is your feature request related to a problem?**
yes, I can't be able to log in with my generic email account (official Email ID), but only with google and azure  E-mails.

**Describe the solution you'd like**
I would like an Email Validation link to be sent for my Registration E-mail. So other than Gmail/Azure I can use other emails as well to log in.

**Describe alternatives you've considered**